<template>
  <div class="user">
    <div class="photo">
      <img :src="avatar" alt="avatar" />
    </div>
    <div class="user-info">
      <a data-toggle="collapse" :aria-expanded="!isClosed" @click.stop="toggleMenu" @click.capture="clicked">
        <span>
          {{ username }}
          <b class="caret"></b>
        </span>
      </a>

      <collapse-transition>
        <div v-show="!isClosed">
          <ul class="nav">
            <slot>
              <li>
                <a href="javascript:;" @click.prevent="onLogout">
                  <span class="sidebar-mini">CS</span>
                  <span class="sidebar-normal">{{ $t('Logout') }}</span>
                </a>
              </li>
            </slot>
          </ul>
        </div>
      </collapse-transition>
    </div>
  </div>
</template>
<script>
  import { CollapseTransition } from "vue2-transitions";
  import {User} from "@/models/services/User";

  export default {
    components: {
      CollapseTransition
    },
    props: {
      title: {
        type: String,
        default: "User Name"
      },
      rtlTitle: {
        type: String,
        default: "User Name"
      },
      avatar: {
        type: String,
        default: `${process.env.MIX_IDRD_URL}/public/img/faces/user.png`
      }
    },
    data() {
      return {
        isClosed: true,
        username: ''
      };
    },
    mounted: function () {
      this.username = this.$t('Username');
      this.getUser();
    },
    methods: {
      getUser: _.debounce(function () {
        if ( this.$auth.username() ) {
          this.username = this.$auth.username() ;
        } else {
          this.$store.dispatch('login')
                  .then((response) => {
                    this.username = response.data.username;
                    window.permissions = response.data.permissions;
                  })
                  .catch((error) => {
                    this.$notify({
                      message: error.message || this.unexpected,
                      icon: "add_alert",
                      horizontalAlign: 'top',
                      verticalAlign: 'center',
                      type: 'danger'
                    });
                  });
        }
      }, 300),
      clicked: function(e) {
        e.preventDefault();
      },
      toggleMenu: function() {
        this.isClosed = !this.isClosed;
      },
      onLogout: function() {
        this.$store.dispatch('logout')
                .then(() => {
                  window.isAuthenticated = false;
                  this.$router.push({ name: 'Login'});
                })
      }
    }
  };
</script>
<style>
  .collapsed {
    transition: opacity 1s;
  }
</style>
