<template>
  <form>
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Add Commitments") }}</h4>
        </div>
      </md-card-header>
      <md-card-content>
        <div class="md-layout">

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('responsable') ) && commitment.touched.responsable }, { 'md-error': errors.has( $t('responsable') ) || commitment.errors.has('responsable')} ]">
              <md-icon>person</md-icon>
              <label for="responsable">{{ $t('responsable').capitalize() }}</label>
              <md-input
                v-model="commitment.responsable"
                name="responsable" id="responsable"
                :data-vv-name="$t('responsable')"
                type="text" maxlength="100"
                autocomplete="off"
                required v-validate="commitment.validations.required">
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('responsable') ) && commitment.touched.responsable) || commitment.errors.has('responsable')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('responsable') ) && commitment.touched.responsable">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-datepicker  :data-vv-name="$t('expired_at')"
                            :class="[{'md-valid': !errors.has( $t('expired_at') ) && commitment.touched.expired_at }, {'md-error': errors.has( $t('expired_at') || commitment.errors.has('expired_at') )}]"
                            v-validate="commitment.validations.date_format"
                            :md-disabled-dates="disabledDates"
                            v-model="commitment.expired_at" md-immediately required>
              <label>{{ $t('execution date').capitalize() }}</label>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('expired_at') ) && commitment.touched.expired_at) || commitment.errors.has('expired_at')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('expired_at') ) && commitment.touched.expired_at">done</md-icon>
              </slide-y-down-transition>
            </md-datepicker>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>

            <v-dialog ref="dialog" v-model="modal1" :return-value.sync="commitment.initial_time" persistent lazy full-width width="290px">
              <template v-slot:activator="{ on }">
                <md-field :class="[{'md-valid': !errors.has( $t('initial time') ) && commitment.touched.initial_time}, {'md-error': errors.has( $t('initial time') ) || commitment.errors.has('initial_time')}]">
                  <md-icon>access_time</md-icon>
                  <label for="initial_time">{{ $t('initial time').capitalize() }}</label>
                  <md-input  v-on="on" v-model="commitment.initial_time" v-validate="commitment.validations.hour_format" readonly="readonly" :data-vv-name="$t('initial time')" required type="text" id="initial_time" name="initial_time"></md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="(errors.has( $t('initial time') ) && commitment.touched.initial_time) || commitment.errors.has('initial_time')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('initial time') ) && commitment.touched.initial_time">done</md-icon>
                  </slide-y-down-transition>
                </md-field>

              </template>
              <v-time-picker v-if="modal1" scrollable :max="commitment.end_time" v-model="commitment.initial_time" color="blue lighten-1" full-width>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="modal1 = false">{{ $t('Cancel') }}</v-btn>
                <v-btn flat color="blue" @click="$refs.dialog.save(commitment.initial_time)">{{ $t('Ok') }}</v-btn>
              </v-time-picker>
            </v-dialog>


          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>


            <v-dialog ref="dialog2" v-model="modal2" :return-value.sync="commitment.end_time" persistent lazy full-width width="290px">
              <template v-slot:activator="{ on }">
                <md-field :class="[{'md-valid': !errors.has( $t('end time') ) && commitment.touched.end_time}, {'md-error': errors.has( $t('end time') ) || commitment.errors.has('end_time')}]">
                  <md-icon>access_time</md-icon>
                  <label for="end_time">{{ $t('end time').capitalize() }}</label>
                  <md-input v-on="on" v-model="commitment.end_time" v-validate="commitment.validations.hour_format_end" ref="end_time" readonly="readonly" :data-vv-name="$t('end time')" required type="text" id="end_time" name="end_time"></md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="(errors.has( $t('end time') ) && commitment.touched.end_time) || commitment.errors.has('end_time')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('end time') ) && commitment.touched.end_time">done</md-icon>
                  </slide-y-down-transition>
                </md-field>

              </template>
              <v-time-picker v-if="modal2" scrollable :min="commitment.initial_time" v-model="commitment.end_time" color="blue lighten-1" full-width>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="modal2 = false">{{ $t('Cancel') }}</v-btn>
                <v-btn flat color="blue" @click="$refs.dialog2.save(commitment.end_time)">{{ $t('Ok') }}</v-btn>
              </v-time-picker>
            </v-dialog>

          </div>

          <div class="md-layout-item md-small-size-100 md-size-100">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('commitment_description') ) && commitment.touched.commitment_description }, { 'md-error': errors.has( $t('commitment_description') ) || commitment.errors.has('commitment_description') } ]">
              <label for="commitment_description">{{ $t('commitment_description').capitalize() }}</label>
              <md-textarea
                v-model="commitment.commitment_description"
                name="commitment_description" id="commitment_description"
                :data-vv-name="$t('commitment_description')"
                v-validate="commitment.validations.required"
                type="text"
                required
                maxlength="2500"
                autocomplete="off">
              </md-textarea>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <md-card-actions class="text-center">
          <md-button native-type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Add Commitments") }}</md-button>
          <slot></slot>
        </md-card-actions>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
  import moment from "moment"
  import { SlideYDownTransition } from "vue2-transitions";
  import {Commitment} from "@/models/services/Commitment";

  export default {
    name: "CommitmentForm",
    components: {
      SlideYDownTransition
    },
    data: () => {
      return {
        modal1: false,
        modal2: false,
        commitment: null
      }
    },
    created: function() {
      this.axiosInterceptor();
      if ( this.$route.params.id ) {
        this.commitment = new Commitment( this.$route.params.id );
      }
    },
    methods: {
      validate() {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.$emit('on-submit', this.commitment)
          } else {
            this.notifyOnError( this.$t('complete form') );
          }
        });
      },
      disabledDates: (date) => {
        return moment(date) < moment().subtract(1, 'day')
      }
    },
    watch: {
      'commitment.responsable': function () {
        this.commitment.touched.responsable = true;
      },
      'commitment.commitment_description': function () {
        this.commitment.touched.commitment_description = true;
      },
      'commitment.expired_at': function () {
        this.commitment.touched.expired_at = true;
      },
      'commitment.initial_time': function () {
        this.commitment.touched.initial_time = true;
      },
      'commitment.end_time': function () {
        this.commitment.touched.end_time = true;
      }
    }
  }
</script>

<style scoped>

</style>