<template>
  <form>
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Add Solution") }}</h4>
        </div>
      </md-card-header>
      <md-card-content>
        <div class="md-layout">

          <div class="md-layout-item md-small-size-100 md-size-100">
            <h4 class="card-title"></h4>
            <md-datepicker  :data-vv-name="$t('solved_at')"
                            :class="[{'md-valid': !errors.has( $t('solved_at') ) && solution.touched.solved_at }, {'md-error': errors.has( $t('solved_at') || solution.errors.has('solved_at') )}]"
                            v-validate="solution.validations.date_format"
                            :md-disabled-dates="disabledDates"
                            v-model="solution.solved_at" md-immediately required>
              <label>{{ $t('solved_at').capitalize() }}</label>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('solved_at') ) && solution.touched.solved_at) || solution.errors.has('solved_at')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('solved_at') ) && solution.touched.solved_at">done</md-icon>
              </slide-y-down-transition>
            </md-datepicker>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-100">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('solution_description') ) && solution.touched.solution_description }, { 'md-error': errors.has( $t('solution_description') ) || solution.errors.has('solution_description') } ]">
              <label for="solution_description">{{ $t('solution_description').capitalize() }}</label>
              <md-textarea
                v-model="solution.solution_description"
                name="solution_description" id="solution_description"
                :data-vv-name="$t('solution_description')"
                v-validate="solution.validations.required"
                type="text"
                required
                maxlength="2500"
                autocomplete="off">
              </md-textarea>
            </md-field>
          </div>
        </div>
      </md-card-content>
      <md-card-actions>
        <md-card-actions class="text-center">
          <md-button native-type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Add Solution") }}</md-button>
          <slot></slot>
        </md-card-actions>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
  import moment from "moment"
  import { SlideYDownTransition } from "vue2-transitions";
  import {Solution} from "@/models/services/Solution";
  export default {
    name: "SolutionForm",
    props: {
      commitment_id: {
        type: Number,
        required: true
      }
    },
    components: {
      SlideYDownTransition
    },
    data: () => {
      return {
        solution: null
      }
    },
    created: function() {
      this.axiosInterceptor();
      if ( this.$route.params.id ) {
        this.solution = new Solution( this.commitment_id );
      }
    },
    methods: {
      validate() {
        this.$validator.validateAll().then(isValid => {
          if ( isValid ) {
            this.$emit('on-submit', this.solution)
          } else {
            this.$notify({
              message: this.$t('complete form') || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'danger'
            });
          }
        });
      },
      disabledDates: (date) => {
        return moment(date) < moment().subtract(1, 'day')
      }
    },
    watch: {
      'commitment.responsable': function () {
        this.commitment.touched.responsable = true;
      },
      'commitment.commitment_description': function () {
        this.commitment.touched.commitment_description = true;
      }
    }
  }
</script>

<style scoped>

</style>