<template>
  <md-card>
    <md-card-content>
      <div class="md-layout">
        <vue-element-loading :active="isLoading">
          <atom-spinner
            :size="100"
            color="#00bcd4"
          />
        </vue-element-loading>
        <div class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 mx-auto">
          <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('file_type') ) && touched.file_type }, { 'md-error': errors.has( $t('file_type') )  }]">
            <md-icon>description</md-icon>
            <label for="file_type">{{ $t('file_type').capitalize() }}</label>
            <md-select v-model.number="file_type"
                       :disabled="file_types_disabled"
                       v-validate="'required'"
                       :data-vv-name="$t('file_type')"
                       required name="file_type" id="file_type">
              <md-option v-for="item in file_types" :key="item.id" :value="item.id">{{ item.name }}</md-option>
            </md-select>
          </md-field>
        </div>
        <div class="md-layout-item md-size-100 md-small-size-100 md-xsmall-size-100 mx-auto">
          <vue-dropzone ref="dropzone_agreement" id="agreement"
                        @vdropzone-file-added="onFile"
                        @vdropzone-max-files-exceeded="onMaxFiles"
                        @vdropzone-sending="onSending"
                        @vdropzone-removed-file="onFile"
                        @vdropzone-canceled="onCancelUpload"
                        @vdropzone-success="onSuccessUpload"
                        @vdropzone-error="onErrorUpload"
                        :options="dropzone_file"></vue-dropzone>
        </div>
      </div>
    </md-card-content>
    <md-card-actions class="text-center">
      <md-button native-type="submit" @click.native.prevent="validate" :disabled="isLoading" class="md-info">{{ $t("Upload File") }}</md-button>
      <slot></slot>
    </md-card-actions>
  </md-card>
</template>

<script>
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import vue2Dropzone from 'vue2-dropzone';
  import 'vue2-dropzone/dist/vue2Dropzone.min.css';
  import {FileType} from "@/models/services/FileType";
  import {Api} from "@/models/Api";
  export default {
    name: "DropzoneAgreement",
    components: {
      vueDropzone: vue2Dropzone,
      VueElementLoading,
      AtomSpinner
    },
    data: () => {
      return {
        dropzone_file: {
          url: '',
          thumbnailWidth: 150,
          maxFilesize: 60, //MB
          addRemoveLinks: true,
          parallelUploads: 1,
          maxFiles: 1,
          autoProcessQueue: false,
          acceptedFiles: '.pdf',
          headers: {
            'X-CSRF-TOKEN': document.head.querySelector('meta[name="csrf-token"]').content
          },
          dictDefaultMessage: '<i class="fas fa-cloud-upload-alt text-info fa-10x"></i><br><p>Arrastra o da click aquí para subir el acta.</p>'
        },
        file_types: [],
        file_types_disabled: true,
        file_type: null,
        file_count: 0,
        touched: {
          file_type: false
        }
      }
    },
    created: function () {
      this.axiosInterceptor();
      if ( this.$route.params.id ) {
        this.dropzone_file.url = Api.END_POINTS.EXECUTION(this.$route.params.id);
      }
      if ( this.file_types.length < 1) {
        this.getFileTypes();
      }
    },
    methods: {
      getFileTypes: _.debounce(function () {
        this.file_types_disabled = true;
        (new FileType()).index()
          .then((response) => {
            this.file_types = response.data;
            this.file_types_disabled = false;
          })
          .catch((error) => {
            console.log(error);
          })
      }, 300),
      // Agreement File
      validate: function () {
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.file_count === 1 ) {
            this.$refs.dropzone_agreement.processQueue();
          } else {
            this.$notify({
              message: this.$t('complete form') || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'danger'
            });
          }
        });
      },
      onFile: function (file) {
        if ('undefined' !== typeof this.$refs.dropzone_agreement.dropzone) {
          this.file_count = this.$refs.dropzone_agreement.dropzone.files.length
        } else {
          this.file_count = 0;
        }
      },
      onMaxFiles: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSending: function (file, xhr, formData) {
        formData.append('request', 'agreement');
        formData.append('file_type', this.file_type);
      },
      onCancelUpload: function (file) {
        this.$refs.dropzone_agreement.removeFile(file);
      },
      onSuccessUpload: function (file, response) {
        this.$refs.dropzone_agreement.removeFile(file);
        if (file.status === "success") {
          this.$emit('on-submit');
          this.$notify({
            message: response.data,
            icon: "add_alert",
            horizontalAlign: 'center',
            verticalAlign: 'top',
            type: 'success'
          });
        }
      },
      onErrorUpload: function (file, message, xhr) {
        this.$refs.dropzone_agreement.removeFile(file);
        this.$notify({
          message: message.message || this.unexpected,
          icon: "add_alert",
          horizontalAlign: 'center',
          verticalAlign: 'top',
          type: 'danger'
        });
      },
    },
    watch: {
      file_type: function () {
        this.touched.file_type = true;
      }
    },
  }
</script>

<style scoped>

</style>