<template>
  <md-card>
    <md-card-content>
      <div class="md-layout">

        <vue-element-loading :active="isLoading">
          <atom-spinner
            :size="100"
            color="#00bcd4"
          />
        </vue-element-loading>

        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50 mx-auto">
          <h4 class="card-title"></h4>
          <croppa v-model="image_1"
                  :width="200"
                  :height="200"
                  :placeholder="$t('Click here to upload image')"
                  :placeholder-font-size="16"
                  :prevent-white-space="true"
                  :show-remove-button="true"
                  remove-button-color="black"
                  :remove-button-size="50"
                  :show-loading="true"
                  :quality="5"
                  :loading-size="50">
          </croppa>
          <br>
          <md-button class="md-simple md-just-icon" @click="image_1.rotate()"><md-icon>crop_rotate</md-icon></md-button>
          <md-button class="md-simple md-just-icon" @click="image_1.flipY()"><md-icon>flip</md-icon></md-button>
          <md-button class="md-simple md-just-icon" @click="image_1.flipX()"><md-icon>flip</md-icon></md-button>
          <md-button class="md-simple md-just-icon" @click="image_1.zoomIn()"><md-icon>zoom_in</md-icon></md-button>
          <md-button class="md-simple md-just-icon" @click="image_1.zoomOut()"><md-icon>zoom_out</md-icon></md-button>
        </div>
        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
          <h4 class="card-title"></h4>
          <md-field md-clearable :class="[ { 'md-valid': !errors.has( `${$t('description')}_1` ) && form.touched.description_1 }, { 'md-error': errors.has( $t('objective') ) || form.errors.has('description_1') } ]">
            <label for="description_1">{{ $t('description').capitalize() }}</label>
            <md-textarea
              v-model="form.description_1"
              name="description_1" id="description_1"
              :data-vv-name="`${$t('description')}_1`"
              v-validate="form.validations.required"
              type="text"
              required
              maxlength="2500"
              autocomplete="off">
            </md-textarea>
          </md-field>
          <md-switch v-model="form.confirm_1">{{ $t('confirm image') }}</md-switch>
        </div>

      </div>
    </md-card-content>
    <md-card-actions class="text-center">
      <md-button native-type="submit" @click.native.prevent="validate" :disabled="isLoading" class="md-info">{{ $t("Upload Images") }}</md-button>
      <slot></slot>
    </md-card-actions>
  </md-card>
</template>

<script>
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Image} from "@/models/services/Image";
  import {Api} from "@/models/Api";
  export default {
    name: "DropzoneImages",
    components: {
      VueElementLoading,
      AtomSpinner
    },
    data: () => {
      return {
        form: null,
        image_1: null,
      }
    },
    created: function () {
      this.axiosInterceptor();
      if ( this.$route.params.id ) {
        this.form = new Image( this.$route.params.id );
      }
    },
    methods: {
      async validate () {
        let image_1 = await this.image_1.promisedBlob();
        this.$validator.validateAll().then(isValid => {
          if ( isValid && this.image_1.hasImage() ) {
            this.form.image_1 = image_1;

            let form_data = new FormData();
            form_data.append('request', 'images');
            form_data.append('image_1', this.form.image_1, this.image_1.getChosenFile().name);
            form_data.append('description_1', this.form.description_1);
            form_data.append('confirm_1', this.form.confirm_1);

            let config = {
              header : {
                'Content-Type' : 'multipart/form-data'
              }
            };

            window.axios.post( Api.END_POINTS.EXECUTION( this.$route.params.id ), form_data, config)
              .then((response) => {
                this.$emit('on-submit');
                this.clear();
                this.$notify({
                  message: response.data.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .catch((error) => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'danger'
                });
              });

          } else {
            let form_data = new FormData();
            form_data.append('request', 'images');
            form_data.append('description_1', this.form.description_1);
            form_data.append('confirm_1', this.form.confirm_1);

            let config = {
              header : {
                'Content-Type' : 'multipart/form-data'
              }
            };

            window.axios.post( Api.END_POINTS.EXECUTION( this.$route.params.id ), form_data, config)
              .then((response) => {
                this.$emit('on-submit');
                this.clear();
                this.$notify({
                  message: response.data.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
              })
              .catch((error) => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'danger'
                });
              });
          }
        });
      },
      clear: function () {
        this.image_1.remove();
        this.form.reset();
      },

    },
    watch: {
      'form.description_1': function () {
        this.form.touched.description_1 = true;
      }
    },
  }
</script>

<style scoped>

</style>