<template>
    <form>
        <md-card>
            <md-card-header class="md-card-header-text md-card-header-blue">
                <div class="card-text">
                    <h4 class="title">{{ $t("Record Execution") }}</h4>
                </div>
            </md-card-header>
            <md-card-content>
                <vue-element-loading :active="isLoading">
                    <atom-spinner
                      :size="100"
                      color="#00bcd4"
                    />
                </vue-element-loading>
                <div class="md-layout">
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <h4 class="card-title">{{ $t('Assistants') }}</h4>
                        <div class="md-layout">
                            <div class="md-layout-item">
                                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('entity') ) && execution.touched.entity }, { 'md-error': errors.has( $t('entity') ) || execution.errors.has('entity') }]">
                                    <md-icon>group</md-icon>
                                    <label for="entity">{{ $t('entity').capitalize() }}</label>
                                    <md-select v-model.number="execution.entity"
                                               :disabled="disabled_entity"
                                               v-validate="execution.validations.required"
                                               :data-vv-name="$t('entity')"
                                               required name="entity" id="entity">
                                        <md-option v-for="item in entities" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('type') ) && execution.touched.type }, { 'md-error': errors.has( $t('type') ) || execution.errors.has('type') }]">
                                    <md-icon>group</md-icon>
                                    <label for="type">{{ $t('type').capitalize() }}</label>
                                    <md-select v-model.number="execution.type"
                                               :disabled="disabled_types"
                                               v-validate="execution.validations.required"
                                               :data-vv-name="$t('type')"
                                               required name="type" id="type">
                                        <md-option v-for="item in types" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <h4 class="card-title"></h4>
                        <div class="md-layout">
                            <div class="md-layout-item">
                                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('condition') ) && execution.touched.condition }, { 'md-error': errors.has( $t('condition') ) || execution.errors.has('condition') }]">
                                    <md-icon>group</md-icon>
                                    <label for="condition">{{ $t('condition').capitalize() }}</label>
                                    <md-select v-model.number="execution.condition"
                                               :disabled="disabled_conditions"
                                               v-validate="execution.validations.required"
                                               :data-vv-name="$t('condition')"
                                               required name="condition" id="condition">
                                        <md-option v-for="item in conditions" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <div class="md-layout-item">
                                <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('situation') ) && execution.touched.situation }, { 'md-error': errors.has( $t('situation') ) || execution.errors.has('situation') }]">
                                    <md-icon>group</md-icon>
                                    <label for="situation">{{ $t('situation').capitalize() }}</label>
                                    <md-select v-model.number="execution.situation"
                                               :disabled="disabled_conditions"
                                               v-validate="execution.validations.required"
                                               :data-vv-name="$t('situation')"
                                               required name="situation" id="situation">
                                        <md-option v-for="item in situations" :key="item.id" :value="item.id">{{ item.name }}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                        </div>
                    </div>
                    <!--  Female -->
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <h4 class="card-title">{{ $t('female').capitalize() }}</h4>
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_0_5_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_0_5_f').capitalize()"
                                                persistent-hint
                                                label="0 - 5"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_0_5_f') ) && execution.touched.age_0_5_f}, {'md-error': errors.has( $t('age_0_5_f') ) || execution.errors.has('age_0_5_f')}]">
                                            <md-input v-model.number="execution.age_0_5_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_0_5_f')"
                                                      type="number" id="age_0_5_f" name="age_0_5_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_0_5_f') ) && execution.touched.age_0_5_f) || execution.errors.has('age_0_5_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_0_5_f') ) && execution.touched.age_0_5_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_6_12_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_6_12_f').capitalize()"
                                                persistent-hint
                                                label="6 - 12"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_6_12_f') ) && execution.touched.age_6_12_f}, {'md-error': errors.has( $t('age_6_12_f') ) || execution.errors.has('age_6_12_f')}]">
                                            <md-input v-model.number="execution.age_6_12_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_6_12_f')"
                                                      type="number" id="age_6_12_f" name="age_6_12_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_6_12_f') ) && execution.touched.age_6_12_f) || execution.errors.has('age_6_12_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_6_12_f') ) && execution.touched.age_6_12_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_13_17_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_13_17_f').capitalize()"
                                                persistent-hint
                                                label="13 - 17"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_13_17_f') ) && execution.touched.age_13_17_f}, {'md-error': errors.has( $t('age_13_17_f') ) || execution.errors.has('age_13_17_f')}]">
                                            <md-input v-model.number="execution.age_13_17_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_13_17_f')"
                                                      type="number" id="age_13_17_f" name="age_13_17_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_13_17_f') ) && execution.touched.age_13_17_f) || execution.errors.has('age_13_17_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_13_17_f') ) && execution.touched.age_13_17_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_18_26_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_18_26_f').capitalize()"
                                                persistent-hint
                                                label="18 - 26"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_18_26_f') ) && execution.touched.age_18_26_f}, {'md-error': errors.has( $t('age_18_26_f') ) || execution.errors.has('age_18_26_f')}]">
                                            <md-input v-model.number="execution.age_18_26_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_18_26_f')"
                                                      type="number" id="age_18_26_f" name="age_18_26_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_18_26_f') ) && execution.touched.age_18_26_f) || execution.errors.has('age_18_26_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_18_26_f') ) && execution.touched.age_18_26_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_27_59_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_27_59_f').capitalize()"
                                                persistent-hint
                                                label="27 - 59"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_27_59_f') ) && execution.touched.age_27_59_f}, {'md-error': errors.has( $t('age_27_59_f') ) || execution.errors.has('age_27_59_f')}]">
                                            <md-input v-model.number="execution.age_27_59_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_27_59_f')"
                                                      type="number" id="age_27_59_f" name="age_27_59_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_27_59_f') ) && execution.touched.age_27_59_f) || execution.errors.has('age_27_59_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_27_59_f') ) && execution.touched.age_27_59_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_60_f"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_60_f').capitalize()"
                                                persistent-hint
                                                label="60 >"
                                                prepend-icon="fas fa-female"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_60_f') ) && execution.touched.age_18_26_f}, {'md-error': errors.has( $t('age_60_f') ) || execution.errors.has('age_60_f')}]">
                                            <md-input v-model.number="execution.age_60_f" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_60_f')"
                                                      type="number" id="age_60_f" name="age_60_f">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_60_f') ) && execution.touched.age_60_f) || execution.errors.has('age_60_f')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_60_f') ) && execution.touched.age_60_f">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Male -->
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <h4 class="card-title">{{ $t('male').capitalize() }}</h4>
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_0_5_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_0_5_m').capitalize()"
                                                persistent-hint
                                                label="0 - 5"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_0_5_m') ) && execution.touched.age_0_5_m}, {'md-error': errors.has( $t('age_0_5_m') ) || execution.errors.has('age_0_5_m')}]">
                                            <md-input v-model.number="execution.age_0_5_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_0_5_m')"
                                                      type="number" id="age_0_5_m" name="age_0_5_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_0_5_m') ) && execution.touched.age_0_5_m) || execution.errors.has('age_0_5_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_0_5_m') ) && execution.touched.age_0_5_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_6_12_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_6_12_m').capitalize()"
                                                persistent-hint
                                                label="6 - 12"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_6_12_m') ) && execution.touched.age_6_12_m}, {'md-error': errors.has( $t('age_6_12_m') ) || execution.errors.has('age_6_12_m')}]">
                                            <md-input v-model.number="execution.age_6_12_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_6_12_m')"
                                                      type="number" id="age_6_12_m" name="age_6_12_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_6_12_m') ) && execution.touched.age_6_12_m) || execution.errors.has('age_6_12_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_6_12_m') ) && execution.touched.age_6_12_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_13_17_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_13_17_m').capitalize()"
                                                persistent-hint
                                                label="13 - 17"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_13_17_m') ) && execution.touched.age_13_17_m}, {'md-error': errors.has( $t('age_13_17_m') ) || execution.errors.has('age_13_17_m')}]">
                                            <md-input v-model.number="execution.age_13_17_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_13_17_m')"
                                                      type="number" id="age_13_17_m" name="age_13_17_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_13_17_m') ) && execution.touched.age_13_17_m) || execution.errors.has('age_13_17_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_13_17_m') ) && execution.touched.age_13_17_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_18_26_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_18_26_m').capitalize()"
                                                persistent-hint
                                                label="18 - 26"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_18_26_m') ) && execution.touched.age_18_26_m}, {'md-error': errors.has( $t('age_18_26_m') ) || execution.errors.has('age_18_26_m')}]">
                                            <md-input v-model.number="execution.age_18_26_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_18_26_m')"
                                                      type="number" id="age_18_26_m" name="age_18_26_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_18_26_m') ) && execution.touched.age_18_26_m) || execution.errors.has('age_18_26_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_18_26_m') ) && execution.touched.age_18_26_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="md-layout-item md-small-size-100 md-size-100">
                        <div class="md-layout">
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_27_59_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_27_59_m').capitalize()"
                                                persistent-hint
                                                label="27 - 59"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_27_59_m') ) && execution.touched.age_27_59_m}, {'md-error': errors.has( $t('age_27_59_m') ) || execution.errors.has('age_27_59_m')}]">
                                            <md-input v-model.number="execution.age_27_59_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_27_59_m')"
                                                      type="number" id="age_27_59_m" name="age_27_59_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_27_59_m') ) && execution.touched.age_27_59_m) || execution.errors.has('age_27_59_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_27_59_m') ) && execution.touched.age_27_59_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                            <div class="md-layout-item md-xsmall-size-100 md-small-size-100">
                                <div class="md-layout">
                                    <div class="md-layout-item md-xsmall-size-100 md-xsmall-size-100 md-small-size-100 md-size-80">
                                        <v-slider
                                                v-model="execution.age_60_m"
                                                :max="255"
                                                :thumb-size="24"
                                                thumb-color="blue" color="blue"
                                                thumb-label
                                                always-dirty
                                                :hint="$t('age_60_m').capitalize()"
                                                persistent-hint
                                                label="60 >"
                                                prepend-icon="fas fa-male"
                                        ></v-slider>
                                    </div>
                                    <div class="md-layout-item md-xsmall-hide md-xsmall-hide md-small-hide md-size-20">
                                        <md-field :class="[{'md-valid': !errors.has( $t('age_60_m') ) && execution.touched.age_18_26_m}, {'md-error': errors.has( $t('age_60_m') ) || execution.errors.has('age_60_m')}]">
                                            <md-input v-model.number="execution.age_60_m" v-validate="execution.validations.numeric"
                                                      min="0"
                                                      max="255"
                                                      :data-vv-name="$t('age_60_m')"
                                                      type="number" id="age_60_m" name="age_60_m">
                                            </md-input>
                                            <slide-y-down-transition>
                                                <md-icon class="error" v-show="(errors.has( $t('age_60_m') ) && execution.touched.age_60_m) || execution.errors.has('age_60_m')">close</md-icon>
                                            </slide-y-down-transition>
                                            <slide-y-down-transition>
                                                <md-icon class="success" v-show="!errors.has( $t('age_60_m') ) && execution.touched.age_60_m">done</md-icon>
                                            </slide-y-down-transition>
                                        </md-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </md-card-content>
            <md-card-actions>
                <md-card-actions class="text-center">
                    <md-button native-type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Record Execution") }}</md-button>
                    <slot></slot>
                </md-card-actions>
            </md-card-actions>
        </md-card>
    </form>
</template>

<script>
    import VueElementLoading from 'vue-element-loading'
    import { AtomSpinner } from 'epic-spinners'
    import { SlideYDownTransition } from "vue2-transitions";
    import {Execution} from "@/models/services/Execution";
    import {Entity} from "@/models/services/Entity";
    import {Type} from "@/models/services/Type";
    import {Condition} from "@/models/services/Condition";
    import {Situation} from "@/models/services/Situation";

    export default {
        name: "ExecutionForm",
        components: {
            SlideYDownTransition,
            VueElementLoading,
            AtomSpinner
        },
        data: () => {
            return {
                execution: null,
                disabled_entity: true,
                entities: [],
                disabled_types: true,
                types: [],
                disabled_conditions: true,
                conditions: [],
                disabled_situations: true,
                situations: [],
            }
        },
        created: function () {
            this.axiosInterceptor();
            this.execution = new Execution( this.$route.params.id );
            this.execution.request = 'execution';
            this.getEntities();
            this.getTypes();
            this.getConditions();
            this.getSituations();
        },
        methods: {
            validate() {
                this.$validator.validateAll().then(isValid => {
                    if ( isValid ) {
                        this.$emit('on-submit', this.execution);
                    } else {
                        this.$notify({
                            message: this.$t('complete form') || this.unexpected,
                            icon: "add_alert",
                            horizontalAlign: 'center',
                            verticalAlign: 'top',
                            type: 'danger'
                        });
                    }
                });
            },
            getEntities: function () {
                this.disabled_entity = true;
                (new Entity()).index()
                  .then((response) => {
                      this.entities = response.data;
                      this.disabled_entity = false;
                  })
                  .catch((error) => {
                      console.log(error);
                  })
            },
            getTypes: function () {
                this.disabled_types = true;
                (new Type()).index()
                  .then((response) => {
                      this.types = response.data;
                      this.disabled_types = false;
                  })
                  .catch((error) => {
                      console.log(error);
                  })
            },
            getConditions: function () {
                this.disabled_conditions = true;
                (new Condition()).index()
                      .then((response) => {
                          this.conditions = response.data;
                          this.disabled_conditions = false;
                      })
                      .catch((error) => {
                          console.log(error);
                      })
            },
            getSituations: function () {
                this.disabled_situations = true;
                (new Situation()).index()
                    .then((response) => {
                        this.situations = response.data;
                        this.disabled_situations = false;
                    })
                    .catch((error) => {
                        console.log(error);
                    })
            }
         }
    }
</script>

<style scoped>

</style>