<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-small-size-100 md-large-size-100 md-size-80 mx-auto">
      <nav-tabs-card>
        <template slot="content">
          <span class="md-nav-tabs-title">{{ $t('Execution') }}</span>
          <md-tabs :md-dynamic-height="true" class="md-info" @md-changed="onChange" md-alignment="right">
            <md-tab id="tab-execution" :md-label="$t('Assistants')" md-icon="accessibility">
              <div class="md-layout">
                <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-table :columns="5" :rows="8" v-show="lock_tab_1"></vcl-table>
                </div>
              </div>
              <md-empty-state v-if="executions.length <= 1 && !lock_tab_1 && !record_execution"
                md-icon="speaker_notes_off"
                :md-label="$t('No Execution')"
                :md-description="$t('empty')">
                <md-button class="md-info md-raised" v-if="$auth.can(['record_execution', 'admin'])" @click="record_execution = true">{{ $t('Record Execution') }}</md-button>
              </md-empty-state>
              <div v-if="record_execution && !lock_tab_1 && $auth.can(['record_execution', 'admin'])" class="md-layout">
                <execution-form  @on-submit="onExecution">
                  <md-button @click="record_execution = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                </execution-form>
              </div>
              <div class="md-layout" v-if="executions.length > 1 && !lock_tab_1 && !record_execution">
                <md-card>
                  <md-card-header>
                    <md-card-header-text>
                      <div class="md-title">{{ $t('Assistants') }}</div>
                    </md-card-header-text>

                    <md-menu md-size="auto" md-direction="bottom-end">
                      <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item v-if="$auth.can(['record_execution', 'admin'])" @click="record_execution = true">
                          <md-icon>add</md-icon>
                          {{ $t('Record Execution') }}
                        </md-menu-item>

                        <md-menu-item @click="getExecution( $route.params.id )">
                          <md-icon>autorenew</md-icon>
                          {{ $t('Reload') }}
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-card-header>
                  <md-card-content>
                    <md-table v-model="executions" >
                      <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Institución Grupo o Comunidad ">{{ item.id }}</md-table-cell>
                        <md-table-cell md-label="Entidad">{{ item.entity_name }}</md-table-cell>
                        <md-table-cell md-label="Tipo">{{ item.type_population }}</md-table-cell>
                        <md-table-cell md-label="Condición">{{ item.condition_name }}</md-table-cell>
                        <md-table-cell md-label="Situación">{{ item.situation_name }}</md-table-cell>
                        <md-table-cell md-label="O a 5 años F">{{ item['0_5_f'] }}</md-table-cell>
                        <md-table-cell md-label="O a 5 años M">{{ item['0_5_m'] }}</md-table-cell>
                        <md-table-cell md-label="6 a 12 años F">{{ item['6_12_f'] }}</md-table-cell>
                        <md-table-cell md-label="6 a 12 años M">{{ item['6_12_m'] }}</md-table-cell>
                        <md-table-cell md-label="13 a 17 años F">{{ item['13_17_f'] }}</md-table-cell>
                        <md-table-cell md-label="13 a 17 años M">{{ item['13_17_m'] }}</md-table-cell>
                        <md-table-cell md-label="18 a 26 años F">{{ item['18_26_f'] }}</md-table-cell>
                        <md-table-cell md-label="18 a 26 años M">{{ item['18_26_m'] }}</md-table-cell>
                        <md-table-cell md-label="27 a 59 años F">{{ item['27_59_f'] }}</md-table-cell>
                        <md-table-cell md-label="27 a 59 años M">{{ item['27_59_m'] }}</md-table-cell>
                        <md-table-cell md-label="60 años o más F">{{ item['60_f'] }}</md-table-cell>
                        <md-table-cell md-label="60 años o más M">{{ item['60_m'] }}</md-table-cell>
                        <md-table-cell md-label="Subtotal">{{ item.subtotal }}</md-table-cell>
                      </md-table-row>
                    </md-table>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>

            <md-tab id="tab-files" :md-label="$t('Files')" md-icon="file_copy">
              <div class="md-layout">
                  <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                    <vcl-code v-show="lock_tab_2"></vcl-code>
                  </div>
                  <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                    <vcl-code v-show="lock_tab_2"></vcl-code>
                  </div>
                  <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                    <vcl-code v-show="lock_tab_2"></vcl-code>
                  </div>
                  <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                    <vcl-code v-show="lock_tab_2"></vcl-code>
                  </div>
                  <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                    <vcl-code v-show="lock_tab_2"></vcl-code>
                  </div>
              </div>
              <md-empty-state v-if="(files.length < 1 && !lock_tab_2) && !upload_file"
                              md-icon="description"
                              :md-label="$t('No File')"
                              :md-description="$t('empty')">
                <md-button class="md-info md-raised" v-if="$auth.can(['record_execution', 'admin'])" @click="upload_file = true">{{ $t('Upload File') }}</md-button>
              </md-empty-state>
              <form v-if="upload_file && !lock_tab_2 && $auth.can(['record_execution', 'admin'])">
                <div class="md-layout">
                    <dropzone-agreement @on-submit="onFiles">
                      <md-button @click="upload_file = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                    </dropzone-agreement>
                </div>
              </form>
              <div v-if="files.length > 0 && !lock_tab_2 && !upload_file" class="md-layout">
                <md-card>
                  <md-card-header>
                    <md-card-header-text>
                      <div class="md-title">{{ $t('Files') }}</div>
                    </md-card-header-text>

                    <md-menu md-size="auto" md-direction="bottom-end">
                      <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item v-if="$auth.can(['record_execution', 'admin'])" @click="upload_file = true">
                          <md-icon>add</md-icon>
                          {{ $t('Upload File') }}
                        </md-menu-item>

                        <md-menu-item @click="getFile( $route.params.id )">
                          <md-icon>autorenew</md-icon>
                          {{ $t('Reload') }}
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-card-header>
                  <md-card-content>
                    <div class="md-layout-item md-size-80 md-small-size-100 md-xsmall-size-100 mx-auto">
                      <md-list class="md-triple-line">
                        <md-list-item v-for="file in files" :key="file.id">
                          <md-icon class="md-primary">description</md-icon>

                          <div class="md-list-item-text">
                            <span>{{ file.type }}</span>
                            <small>{{ file.description }}</small>
                            <small>{{ file.created_at }}</small>
                          </div>

                          <md-button @click="onFileDelete(file.id)" class="md-simple md-danger md-list-action">
                            <md-icon>close</md-icon>
                            {{ $t('Delete') }}
                          </md-button>
                          <md-button :href="file.path" target="_blank" class="md-simple md-info md-list-action">
                            <md-icon>cloud_download</md-icon>
                            {{ $t('Download') }}
                          </md-button>
                        </md-list-item>
                      </md-list>
                    </div>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>

            <md-tab id="tab-images" :md-label="$t('Images')" md-icon="images">
              <div class="md-layout">
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-twitch v-show="lock_tab_3"></vcl-twitch>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-twitch v-show="lock_tab_3"></vcl-twitch>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-twitch v-show="lock_tab_3"></vcl-twitch>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-twitch v-show="lock_tab_3"></vcl-twitch>
                </div>
              </div>
              <md-empty-state v-show="(images.length < 1 && !lock_tab_3) && !upload_images" md-icon="panorama" :md-label="$t('No Images')" :md-description="$t('empty')">
                <md-button class="md-info md-raised" v-if="$auth.can(['record_execution', 'admin'])" @click="upload_images = true">{{ $t('Upload Images') }}</md-button>
              </md-empty-state>
              <form v-if="upload_images && !lock_tab_3 && $auth.can(['record_execution', 'admin'])">
                <div class="md-layout">
                  <dropzone-images @on-images="onImages">
                    <md-button @click="upload_images = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                  </dropzone-images>
                </div>
              </form>
              <div v-if="images.length > 0 && !lock_tab_3 && !upload_images" class="content">
                  <div class="md-layout">
                    <md-card>
                      <md-card-header>
                        <md-card-header-text>
                          <div class="md-title">{{ $t('Images') }}</div>
                        </md-card-header-text>

                        <md-menu md-size="auto" md-direction="bottom-end">
                          <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                            <md-icon>more_vert</md-icon>
                          </md-button>
                          <md-menu-content>
                            <md-menu-item v-if="$auth.can(['record_execution', 'admin'])" @click="upload_images = true">
                              <md-icon>add</md-icon>
                              {{ $t('Upload Images') }}
                            </md-menu-item>

                            <md-menu-item @click="getImages( $route.params.id )">
                              <md-icon>autorenew</md-icon>
                              {{ $t('Reload') }}
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </md-card-header>
                      <md-card-content>
                        <v-carousel style="height: 100%">
                          <v-carousel-item v-for="(slide, i) in images" :src="slide.store" :key="slide.id">
                            <v-responsive>
                              <v-container fill-height>
                                <v-layout align-center>
                                  <v-flex>
                                    <h5 class="display-1 text--white">{{ slide.name }}</h5>
                                    <span class="subheading text--white"> <md-icon> {{ slide.related }} </md-icon> {{ slide.description }}</span>
                                    <br>
                                    <small class="subheading text--white">{{ slide.created_at }}</small>
                                  </v-flex>
                                </v-layout>
                              </v-container>
                            </v-responsive>
                          </v-carousel-item>
                        </v-carousel>
                      </md-card-content>
                    </md-card>
                  </div>
              </div>
            </md-tab>

            <md-tab id="tab-commit" :md-label="$t('Commitments')" md-icon="ballot">
              <div class="md-layout">
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-list v-show="lock_tab_4"></vcl-list>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-list v-show="lock_tab_4"></vcl-list>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-list v-show="lock_tab_4"></vcl-list>
                </div>
                <div class="md-layout-item md-size-50 md-small-size-100 md-xsmall-size-100 mx-auto">
                  <vcl-list v-show="lock_tab_4"></vcl-list>
                </div>
              </div>
              <md-empty-state v-if="commitments.length < 1 && !lock_tab_4 && !record_commitments"
                              md-icon="person_add_disabled"
                              :md-label="$t('No Commitments')"
                              :md-description="$t('empty')">
                <md-button class="md-info md-raised" v-if="$auth.can(['record_execution', 'admin'])" @click="record_commitments = true">{{ $t('Add Commitments') }}</md-button>
              </md-empty-state>

              <div v-if="record_commitments && !lock_tab_4 && $auth.can(['record_execution', 'admin'])" class="md-layout">
                <div class="md-layout-item">
                  <commitment-form @on-submit="onCommitment">
                    <md-button @click="record_commitments = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                  </commitment-form>
                </div>
              </div>

              <div v-if="commitments.length > 0 && !lock_tab_4 && !record_commitments" class="md-layout">
                <md-card>
                  <md-card-header>
                    <md-card-header-text>
                      <div class="md-title">{{ $t('Commitments') }}</div>
                    </md-card-header-text>

                    <md-menu md-size="auto" md-direction="bottom-end">
                      <md-button class="md-info md-round md-just-icon" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item v-if="$auth.can(['record_execution', 'admin'])" @click="record_commitments = true">
                          <md-icon>add</md-icon>
                          {{ $t('Add Commitments') }}
                        </md-menu-item>

                        <md-menu-item @click="getCommitments( $route.params.id )">
                          <md-icon>autorenew</md-icon>
                          {{ $t('Reload') }}
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </md-card-header>
                  <md-card-content>
                    <v-data-iterator :items="commitments" :rows-per-page-items="rowsPerPageItems" :pagination.sync="pagination" content-tag="v-layout" row wrap >
                      <template v-slot:item="props">
                        <md-card md-with-hover>
                          <md-ripple>
                            <md-card-header class="md-card-header-text" :class="[ { 'md-card-header-warning': !props.item.status,  'md-card-header-green': props.item.status } ]">
                              <div class="card-text">
                                <h5 class="title">{{ props.item.responsable }}</h5>
                                {{ `${$t('created_at').capitalize() } ${props.item.created_at}` }}
                              </div>
                            </md-card-header>
                            <md-card-area md-inset>
                              <md-card-header>
                                <div class="md-subhead">
                                  <small class="category">
                                    <md-icon>calendar_today</md-icon>
                                    <span>{{ `${$t('expired_at').capitalize() } ${props.item.solution_date}` }}</span>
                                  </small>
                                </div>
                              </md-card-header>
                              <md-card-content>
                                <span>{{ props.item.commitment }}</span>
                              </md-card-content>
                            </md-card-area>
                            <md-card-content v-if="props.item.solution">
                              <div class="md-subhead">
                                <small class="category">
                                  <md-icon>calendar_today</md-icon>
                                  <span>{{ `${$t('solution_at').capitalize() } ${props.item.solution_register_date}` }}</span>
                                </small>
                              </div>
                              <span>{{ props.item.solution }}</span>
                            </md-card-content>
                            <md-card-actions v-if="$auth.can(['solve_commitment', 'admin'])">
                              <md-button v-if="!props.item.status" @click="solve_form = true" class="md-warning">
                                <md-icon>done_all</md-icon>
                                {{ $t('Solve') }}
                              </md-button>
                              <md-button class="md-success" v-else> {{ $t('Solved') }} </md-button>
                            </md-card-actions>
                            <slide-y-down-transition>
                              <md-card-content v-if="!props.item.status && solve_form && $auth.can(['solve_commitment', 'admin'])">
                                <solution-form :commitment_id="props.item.id" @on-submit="onSolve">
                                  <md-button @click="solve_form = false" :disabled="isLoading" class="md-default">{{ $t("Cancel") }}</md-button>
                                </solution-form>
                              </md-card-content>
                            </slide-y-down-transition>
                          </md-ripple>
                        </md-card>
                      </template>
                    </v-data-iterator>
                  </md-card-content>
                </md-card>
              </div>
            </md-tab>
          </md-tabs>
        </template>
      </nav-tabs-card>
    </div>
  </div>
</template>

<script>
  import Swal from "sweetalert2"
  import { SlideYDownTransition } from "vue2-transitions";
  import {NavTabsCard, ProductCard} from "@/components"
  import {Execution} from "@/models/services/Execution";
  import {File} from "@/models/services/File";
  import {Image} from "@/models/services/Image";
  import {Commitment} from "@/models/services/Commitment";

  export default {
    name: "Execution",
    components: {
      SlideYDownTransition,
      NavTabsCard,
      ProductCard,
      ExecutionForm: () =>  import('./ExecutionForm/ExecutionForm'),
      DropzoneAgreement: () => import ("./ExecutionForm/DropzoneAgreement"),
      DropzoneImages: () => import("./ExecutionForm/DropzoneImages"),
      CommitmentForm: () => import("./CommitmentForm/CommitmentForm"),
      SolutionForm: () => import("./CommitmentForm/SolutionForm")
    },
    data: () => {
        return {
          solve_form: false,
          record_commitments: false,
          record_execution: false,
          upload_file: false,
          upload_images: false,
          executions: [],
          total: 0,
          files: [],
          lock_tab_1: true,
          lock_tab_2: true,
          lock_tab_3: true,
          lock_tab_4: true,
          images: [],
          commitments: [],
          rowsPerPageItems: [2],
          pagination: {
            rowsPerPage: 2
          },
          selected: [],
          responsive: false,
        };
    },
    created: function() {
      this.axiosInterceptor();
      if ( this.$route.params.id ) {
        this.getExecution( this.$route.params.id );
      }
    },
    methods: {
      onExecution: function( execution ) {
        execution.store()
              .then((response) => {
                this.$notify({
                  message: response.data,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'success'
                });
                this.getExecution( this.$route.params.id );
              })
              .catch((error) => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'danger'
                });
              })
      },
      onCommitment: function ( commitment ) {
        commitment.store(  this.$route.params.id  )
          .then((response) => {
            this.$notify({
              message: response.data,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'success'
            });
            this.getCommitments(this.$route.params.id)
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'danger'
            });
          })
      },
      onImages: function() {
        this.getImages( this.$route.params.id );
      },
      onFiles: function () {
        this.getFile( this.$route.params.id );
      },
      onChange: function (id) {
        if(id === "tab-files" ) {
          if ( this.$route.params.id && this.files.length < 1 ) {
            this.getFile( this.$route.params.id );
          }
        }
        if(id === "tab-images" ) {
          if ( this.$route.params.id && this.images.length < 1) {
            this.getImages( this.$route.params.id );
          }
        }
        if(id === "tab-execution" ) {
          if (this.$route.params.id) {
            this.getExecution(this.$route.params.id);
          }
        }
        if(id === "tab-commit" ) {
          if ( this.$route.params.id && this.commitments.length < 1) {
            this.getCommitments( this.$route.params.id );
          }
        }
      },
      getExecution: _.debounce ( function (id) {
        if (id) {
          this.lock_tab_1 = true;
          (new Execution( id, {} )).index()
              .then((response) => {
                this.executions = response.data
                response.data.map( exe  => {
                    if ( exe.subtotal != 'SUBTOTAL' ) {
                      this.total += exe.subtotal;
                    }
                })
              })
              .then(() => {
                  this.lock_tab_1 = false;
              })
              .catch((error) => {
                this.$notify({
                  message: error.message || this.unexpected,
                  icon: "add_alert",
                  horizontalAlign: 'center',
                  verticalAlign: 'top',
                  type: 'danger'
                });
              })
        }
      }, 300),
      getFile: _.debounce(function (id) {
        if (id) {
          this.lock_tab_2 = true;
          (new File( id )).index()
            .then((response) => {
              this.files = response.data;
            })
            .then(() => {
                this.lock_tab_2 = false;
            })
            .catch((error) => {
              this.$notify({
                message: error.message || this.unexpected,
                icon: "add_alert",
                horizontalAlign: 'center',
                verticalAlign: 'top',
                type: 'danger'
              });
            })
        }
      }, 300),
      onFileDelete: function( id ) {
        let self = this;
        Swal.fire({
          type: 'error',
          title: self.$t('Delete'),
          text: self.$t('Are You Sure Delete?'),
          confirmButtonText: self.$t('Delete'),
          confirmButtonClass: "md-button md-success",
          showCancelButton: true,
          showLoaderOnConfirm: true,
          cancelButtonText: self.$t('Cancel'),
          cancelButtonClass: "md-button md-danger",
          buttonsStyling: false,
          preConfirm: () => {

            return (new File( id )).delete()
              .then(response => { return response.data })
              .catch( error  => { Swal.showValidationMessage(error.message || self.$t('unexpected failure')) })
          },
          allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
          if (result.value) {
            Swal.fire({
              type: 'success',
              text: `${result.value}`,
            });
            self.getFile( self.$route.params.id );
          }
        });
      },
      getImages: _.debounce(function (id) {
        if (id) {
          this.lock_tab_3 = true;
          (new Image( id, {} )).index()
                  .then((response) => {
                    this.images = response.data.map(img => {
                      return {
                        id: img.id,
                        value: img.id,
                        description: img.description,
                        name: img.name,
                        related: img.related,
                        store: img.store,
                        created_at: img.created_at,
                      }
                    });
                  })
              .then(() => {
                  this.lock_tab_3 = false;
              })
            .catch((error) => {
              this.$notify({
                message: error.message || this.unexpected,
                icon: "add_alert",
                horizontalAlign: 'center',
                verticalAlign: 'top',
                type: 'danger'
              });
            })
        }
      }, 300),
      getCommitments: _.debounce(function (id) {
        if (id) {
          this.lock_tab_4 = true;
          (new Commitment( id, {} )).index()
                  .then((response) => {
                    this.commitments = response.data;
                  })
              .then(() => {
                  this.lock_tab_4 = false;
              })
            .catch((error) => {
              this.$notify({
                message: error.message || this.unexpected,
                icon: "add_alert",
                horizontalAlign: 'center',
                verticalAlign: 'top',
                type: 'danger'
              });
            })
        }
      }, 300),
      onSolve: function(solution) {
        solution.store( )
          .then((response) => {
            this.$notify({
              message: response.data,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'success'
            });
            this.getCommitments(this.$route.params.id)
          })
          .catch((error) => {
            this.$notify({
              message: error.message || this.unexpected,
              icon: "add_alert",
              horizontalAlign: 'center',
              verticalAlign: 'top',
              type: 'danger'
            });
          })
      },
      onResponsiveInverted() {
          if (window.innerWidth < 768) {
              this.responsive = true;
          } else {
              this.responsive = false;
          }
      }
    },
    mounted() {
        this.onResponsiveInverted();
        window.addEventListener("resize", this.onResponsiveInverted);
    },
    beforeDestroy() {
        window.removeEventListener("resize", this.onResponsiveInverted);
    }
  }
</script>

<style scoped>

</style>