<template>
    <div class="md-layout">
        <div class="md-layout-item md-small-size-100 md-medium-size-100 md-large-size-100 md-xlarge-size-65 md-size-65 mx-auto">
            <md-card>
                <md-card-header class="md-card-header-icon md-card-header-blue">
                    <div class="card-icon">
                        <md-icon>assignment</md-icon>
                    </div>
                    <h4 class="title">{{ $t('My Schedules') }}</h4>
                </md-card-header>
                <md-card-content>
                    <div class="md-layout" >
                        <div class="md-layout-item md-size-30 ml-auto md-small-size-100">
                            <md-field>
                                <md-input type="search" clearable :placeholder="$t('Search')" v-model.lazy="query">
                                </md-input>
                            </md-field>
                        </div>
                    </div>
                    <v-data-table :headers="columns" :rows-per-page-items="[5, 10, 15, 25, 50, 100]" :items="schedules" :expand="expand" item-key="id"
                                  :loading="loading" :pagination.sync="pagination" :total-items="total" :rows-per-page-text="$t('Per Page')">
                        <template v-slot:progress >
                            <md-progress-bar md-mode="indeterminate"></md-progress-bar>
                        </template>
                        <template v-slot:pageText="props">
                            {{ $t('pagination', { init: props.pageStart, end: props.pageStop, total: props.itemsLength } ) }}
                        </template>
                        <template v-slot:no-data>
                            <md-empty-state
                              md-icon="assignment_ind"
                              :md-label="$t('No Schedules').capitalize()"
                              :md-description="$t('empty')">
                                <md-button @click.native="onCreate" class="md-button md-info md-round md-block" >
                                    {{ $t('Create Programming') }}
                                </md-button>
                            </md-empty-state>
                        </template>
                        <template v-slot:items="item">
                            <tr @click="item.expanded = !item.expanded">
                                <td class="is-right">
                                    <md-button @click.native.prevent="onRegister(item.item)" class="md-just-icon md-warning md-round md-simple">
                                        <md-icon>assignment</md-icon>
                                        <md-tooltip md-direction="top">{{ $t('Record Execution') }}</md-tooltip>
                                    </md-button>
                                    <md-button @click.native.prevent="onDetails(item.item)" class="md-just-icon md-success md-round md-simple">
                                        <md-icon>list</md-icon>
                                        <md-tooltip md-direction="top">{{ $t('Details') }}</md-tooltip>
                                    </md-button>
                                    <md-button v-if="showButtom( item.item )" @click.native.prevent="onCancel(item.item)" class="md-just-icon md-danger md-round md-simple">
                                        <md-icon>clear</md-icon>
                                        <md-tooltip md-direction="top">{{ $t('Cancel') }}</md-tooltip>
                                    </md-button>
                                </td>
                                <td>{{ item.item.id }}</td>
                                <td class="is-right">{{ item.item.full_name }}</td>
                                <td class="is-right">{{ item.item.execution_date }}</td>
                                <td class="is-right">{{ item.item.initial_time }}</td>
                                <td class="is-right">{{ item.item.end_time }}</td>
                                <td class="is-right">{{ item.item.park_name }}</td>
                                <td class="is-right"> <badge :type=" item.item.status ? 'success' : 'danger' ">{{ setStatus( item.item.status ) }}</badge> </td>
                            </tr>
                        </template>
                        <template v-slot:expand="item">
                            <v-card flat>
                                <div style="padding: 24px;" >
                                    <div style="padding: 24px;" >
                                        <table class="mu-table-body" style="width:100%">
                                            <tr>
                                                <th width="150">{{ $t('type of meeting').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.type_of_meeting_name || 'N/A' }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('attention').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.attention_name || 'N/A' }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('park_address').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.park_address }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('park_code').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.park_code }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('place').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.place }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('upz').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.upz_name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('objective').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.objective }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('who_calls_name').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.who_calls_name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('Which?').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.who_calls_text }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('request_name').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.request_name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('process_name').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.process_name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('activity_name').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.activity_name }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('subactivity').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.subactivity_name || 'N/A' }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('who_cancel').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.who_cancel }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('text_cancel').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.text_cancel }}</td>
                                            </tr>
                                            <tr>
                                                <th width="150">{{ $t('created_at').capitalize() }}:</th>
                                                <td class="is-left">{{ item.item.created_at }}</td>
                                            </tr>

                                        </table>
                                    </div>
                                </div>
                            </v-card>
                        </template>
                    </v-data-table>
                </md-card-content>
            </md-card>
        </div>
    </div>
</template>

<script>
    import Swal from "sweetalert2"
    import moment from "moment"
    import {Badge} from '@/components'
    import {Programming} from "@/models/services/Programming";
    import {CancelProgramming} from "@/models/services/CancelProgramming";
    export default {
        name: "NoExecutionProgrammingTable",
        components: {
            Badge
        },
        created: function () {
            this.getProgramming();
        },
        data: () => {
            return {
                total: 0,
                pagination: {},
                expand: false,
                schedules: [],
                loading: true,
                query: null,
                moment: moment,
            }
        },
        methods: {
            getProgramming: _.debounce( function () {
                const { sortBy, descending, page, rowsPerPage } = this.pagination;
                const query = this.query;
                this.loading = true;
                (new Programming({})).index({ params: { per_page: rowsPerPage, order: descending, column: sortBy, query: query, page: page, execution: true } })
                  .then( (response) => {
                      this.schedules = response.data.data;
                      this.total = response.data.total;
                      this.loading = false;
                  })
                  .catch((error) => {
                      this.$notify({
                          message: error.message || this.unexpected,
                          icon: "add_alert",
                          horizontalAlign: 'top',
                          verticalAlign: 'center',
                          type: 'danger'
                      });
                  })
            }, 300),
            onCreate: function () {
                this.$router.push( { name: 'Create Programming'} )
            },
            onRegister: function (item) {
                this.$router.push( {name: "Execution", params: { id: item.id }} );
            },
            onDetails: function (item) {
                this.$router.push( {name: "Details", params: { id: item.id, item: item }} );
            },
            onCancel: function (item) {
                let self = this;
                Swal.fire({
                    type: 'warning',
                    title: self.$t('Cancel Programming'),
                    text: self.$t('Are You Sure?'),
                    html:
                      '<input id="swal-input1" type="text" placeholder="'+ self.$t('who_cancel') +'" required="required" maxlength="150" autocomplete="off" class="swal2-input">' +
                      '<textarea id="swal-input2" placeholder="'+ self.$t('text_cancel') +'" required="required" maxlength="2500" class="swal2-textarea"></textarea>',
                    confirmButtonText: self.$t('Cancel'),
                    confirmButtonClass: "md-button md-success",
                    showCancelButton: true,
                    showLoaderOnConfirm: true,
                    cancelButtonText: self.$t('No Cancel'),
                    cancelButtonClass: "md-button md-danger",
                    buttonsStyling: false,
                    preConfirm: () => {
                        let who_cancel  = document.getElementById('swal-input1').value;
                        let text_cancel = document.getElementById('swal-input2').value;

                        if ( !who_cancel || !text_cancel ) {
                            Swal.showValidationMessage(
                              self.$t('complete form')
                            )
                        } else {
                            return (new CancelProgramming(item.id, {
                                who_cancel: who_cancel,
                                text_cancel: text_cancel
                            })).store()
                              .then((response) => {
                                  return response.data;
                              })
                              .catch( error => {
                                  if ( error.hasOwnProperty('who_cancel') ) {
                                      Swal.showValidationMessage(error['who_cancel'][0] )
                                  } else if ( error.hasOwnProperty('text_cancel') ) {
                                      Swal.showValidationMessage(error['text_cancel'][0] )
                                  } else {
                                      Swal.showValidationMessage(error.message || self.$t('unexpected failure'))
                                  }
                              })
                        }
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                }).then((result) => {
                    if (result.value) {
                        Swal.fire({
                            type: 'success',
                            text: `${result.value}`,
                        });
                        self.getProgramming();
                    }
                });
            },
            setStatus: function ( status ) {
                return status ? this.$t('active').capitalize() : this.$t('canceled').capitalize()
            },
            showButtom: function ( item ) {
                let date = moment( item.execution_date ).isValid()
                  ? moment( item.execution_date )
                  : null;
                if ( date ) {
                    return moment().isBefore( date.add(1, 'day') ) &&  item.status && item.has_execution < 1 && item.has_commitment < 1;
                } else {
                    return false;
                }
            }
        },
        computed: {
            columns: function () {
                return [
                    { text: this.$t('Execution').capitalize(), width: 300, value: 'execution', align: 'center', sortable: false },
                    { text: '#', value: 'id', sortable: true },
                    { text: this.$t('full_name').capitalize(), value: 'full_name', width: 200, align: 'center', sortable: true },
                    { text: this.$t('execution_date').capitalize(), value: 'execution_date', width: 126, align: 'center', sortable: true },
                    { text: this.$t('initial_time').capitalize(), value: 'initial_time', width: 120, align: 'center', sortable: true },
                    { text: this.$t('end_time').capitalize(), value: 'end_time', width: 120, align: 'center', sortable: true },
                    { text: this.$t('park_name').capitalize(), value: 'park_name', width: 250, align: 'center', sortable: true },
                    { text: this.$t('status').capitalize(), value: 'status', width: 300, align: 'center', sortable: true },
                ];
            },
        },
        watch: {
            pagination: {
                handler () {
                    this.getProgramming();
                },
                deep: true
            },
            query: function () {
                this.getProgramming();
            }
        }
    }
</script>

<style scoped>

</style>