<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <form-activities @on-submit="onSubmit"></form-activities>
    </div>
  </div>
</template>

<script>
import FormActivities from "./ProgrammingForm/ProgrammingForm";
export default {
  name: "Programming",
  components: {
    FormActivities
  },
  data: () => {
    return {
      activities: {}
    };
  },
  methods: {
    onSubmit: function(programming, isValid) {
      if ( isValid ) {
        programming.store()
          .then((response) => {
            this.notifyOnSuccess( response.data );
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      } else {
        this.notifyOnError( this.$t('invalid') );
      }
    }
  }
};
</script>

<style scoped></style>
