<template>
  <form @submit.prevent="onSubmit" :action="api" method="post" class="md-layout" id="form-report" target="_blank">
    <md-card>

      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t('General Report') }}</h4>
        </div>
      </md-card-header>

      <md-card-content>

        <vue-element-loading :active="isLoading">
          <atom-spinner :size="100" color="#00bcd4"/>
        </vue-element-loading>

        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
          <v-dialog ref="dialog"
                    v-model="menu"
                    :return-value.sync="form.start_day"
                    persistent
                    lazy
                    full-width
                    width="290px">
            <template v-slot:activator="{ on }">
              <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('start_day') ) && touched.start_day}, {'md-error': errors.has( $t('start_day') )}]">
                <md-icon>event</md-icon>
                <label for="start_day">{{ $t('start_day').capitalize() }}</label>
                <md-input :data-vv-name="$t('start_day')"
                          name="start_day" readonly
                          v-validate="'date_format:yyyy-MM-dd|required'"
                          id="start_day" v-model="form.start_day" v-on="on"
                          autocomplete="off">
                </md-input>
                <slide-y-down-transition>
                  <md-icon class="error" v-show="errors.has( $t('start_day') )">close</md-icon>
                </slide-y-down-transition>
                <slide-y-down-transition>
                  <md-icon class="success" v-show="!errors.has( $t('start_day') ) && touched.start_day">done</md-icon>
                </slide-y-down-transition>
              </md-field>
            </template>

            <v-date-picker color="blue lighten-1"
                           locale="es-es"
                           ref="picker" header-color="blue" v-model="form.start_day" scrollable>
              <v-spacer></v-spacer>
              <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
              <v-btn flat color="primary" @click="$refs.dialog.save(form.start_day)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </div>

        <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-50">
          <v-dialog ref="dialog2"
                    v-model="menu2"
                    :return-value.sync="form.end_day"
                    persistent
                    lazy
                    full-width
                    width="290px">
            <template v-slot:activator="{ on }">
              <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('end_day') ) && touched.end_day}, {'md-error': errors.has( $t('end_day') )}]">
                <md-icon>event</md-icon>
                <label for="end_day">{{ $t('end_day').capitalize() }}</label>
                <md-input :data-vv-name="$t('end_day')"
                          name="end_day" readonly
                          v-validate="'date_format:yyyy-MM-dd|required'"
                          id="end_day" v-model="form.end_day" v-on="on"
                          autocomplete="off">
                </md-input>
                <slide-y-down-transition>
                  <md-icon class="error" v-show="errors.has( $t('end_day') )">close</md-icon>
                </slide-y-down-transition>
                <slide-y-down-transition>
                  <md-icon class="success" v-show="!errors.has( $t('end_day') ) && touched.end_day">done</md-icon>
                </slide-y-down-transition>
              </md-field>
            </template>

            <v-date-picker color="blue lighten-1"
                           :min="form.start_day"
                           locale="es-es"
                           ref="picker2" header-color="blue" v-model="form.end_day" scrollable>
              <v-spacer></v-spacer>
              <v-btn flat color="primary" @click="menu2 = false">Cancel</v-btn>
              <v-btn flat color="primary" @click="$refs.dialog2.save(form.end_day)">OK</v-btn>
            </v-date-picker>
          </v-dialog>
        </div>

        <div class="md-layout-item md-small-size-100 md-size-50">
          <h4 class="card-title"></h4>
          <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('professional') ) && touched.professional }, { 'md-error': errors.has( $t('professional') ) }]">
            <md-icon>group</md-icon>
            <label for="professional">{{ $t('professional').capitalize() }}</label>
            <md-select v-model="form.professional"
                       :disabled="isLoading"
                        name="professional_text" id="professional">
              <md-option v-for="item in professionals" :key="item.id" :value="item.id">{{ item.name }}</md-option>
            </md-select>
          </md-field>

          <input type="hidden" name="professional" :value="form.professional">
        </div>

      </md-card-content>
      <md-card-actions>
        <md-button class="md-info" type="submit" v-if="$auth.can(['process_report', 'admin'])" :disabled="isLoading" @submit.prevent="onSubmit">{{ $t('Report') }}</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
  import { SlideYDownTransition } from "vue2-transitions";
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Api} from "@/models/Api";
  import {Professional} from "@/models/services/Professional";

  export default {
    name: "Report",
    components: {
      VueElementLoading,
      AtomSpinner,
      SlideYDownTransition
    },
    data: () => ({
      api: Api.END_POINTS.REPORT(),
      menu: false,
      menu2: false,
      form: {
        start_day: null,
        end_day: null,
        professional: []
      },
      touched: {
        start_day: false,
        end_day: false,
        professional: false,
      },
      professionals: []
    }),
    created: function () {
      this.axiosInterceptor();
      (new Professional()).index()
        .then((response) => {
          this.professionals = response.data
        })
        .catch((error) => this.notifyOnError( error.message ))
    },
    methods: {
      onSubmit: function () {
        this.$validator.validateAll().then(isValid => {
          if (isValid) {
            document.getElementById("form-report").submit();
          }
        })
      }
    },
    watch: {
      'form.start_day': function () {
        this.touched.start_day = true;
      },
      'form.end_day': function () {
        this.touched.end_day = true;
      },
      'form.professional': function () {
        this.touched.professional = true;
      }
    }
  }
</script>

<style scoped>

</style>