<template>
  <div class="md-layout">
    <div class="md-layout-item md-size-100">
      <md-card>

        <md-card-header class="md-card-header-text md-card-header-blue">
          <div class="card-text">
            <h4 class="title">{{ $t('Programming') }} #{{ $route.params.id }}</h4>
            <p class="category">{{ $t('created_at').capitalize() }}: {{ schedule.created_at }}</p>
          </div>
        </md-card-header>

        <md-card-content>

          <vue-element-loading :active="isLoading">
            <atom-spinner :size="100" color="#00bcd4"/>
          </vue-element-loading>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('execution date').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.execution_date }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('initial time').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.initial_time }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('end time').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.end_time }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('type of meeting').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.type_of_meeting_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('attemption').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.attention_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('park').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.park_code }} - {{ schedule.park_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('place').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.place }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('upz').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.upz }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('objective').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.objective }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('who calls').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.who_calls_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('Which?').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.who_calls_text }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('request').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.request_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('process').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.process_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('activity').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.activity_name }}</p>
            </div>
          </div>

          <div class="md-layout">
            <label class="md-layout-item md-size-15 md-small-size-100 md-xsmall-size-100 md-form-label text-xs-left text-sm-left text-md-right text-xl-right">
              {{ $t('subactivity').capitalize() }}
            </label>
            <div class="md-layout-item">
              <p class="form-control-static">{{ schedule.subactivity_name }}</p>
            </div>
          </div>


        </md-card-content>
        <md-card-actions>
          <md-button class="md-info" v-if="$auth.can(['record_execution', 'admin']) && schedule.can_edit" @click.prevent.native="goToEecution">{{ $t('Record Execution') }}</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</template>

<script>
  import VueElementLoading from 'vue-element-loading'
  import { AtomSpinner } from 'epic-spinners'
  import {Programming} from "@/models/services/Programming";

  export default {
    name: "Schedule",
    components: {
      VueElementLoading,
      AtomSpinner
    },
    data: () => ({
      schedule: {}
    }),
    created: function () {
      this.axiosInterceptor();
      if ( this.$route.params.item ) {
        this.schedule = this.$route.params.item;
      } else {
        this.getSchedule();
      }
    },
    methods: {
      getSchedule: function () {
        (new Programming()).show( this.$route.params.id )
          .then((response) => {
            this.schedule = response.data;
          })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
      },
      goToEecution: function () {
        this.$router.push({ name: 'Execution', params: { id: this.$route.params.id } })
      }
    }
  }
</script>

<style scoped>

</style>