<template>
  <div class="fixed-plugin" v-click-outside="closeDropDown">
    <div class="dropdown show-dropdown" :class="{ show: isOpen }">
      <a data-toggle="dropdown">
        <i class="fa fa-cog fa-2x" @click="toggleDropDown"> </i>
      </a>
      <ul class="dropdown-menu" :class="{ show: isOpen }">
        <li class="header-title">{{ $t("Sidebar Accent") }}</li>
        <li class="adjustments-line text-center">
          <span
            v-for="item in sidebarColors"
            :key="item.color"
            class="badge filter"
            :class="[`badge-${item.color}`, { active: item.active }]"
            :data-color="item.color"
            @click="changeSidebarBackground(item)"
          >
          </span>
        </li>
        <li class="header-title">{{ $t("Sidebar Background") }}</li>
        <li class="adjustments-line text-center">
          <span
            v-for="item in sidebarBg"
            :key="item.colorBg"
            class="badge filter"
            :class="[`badge-${item.colorBg}`, { active: item.active }]"
            :data-color="item.colorBg"
            @click="changeSidebarBg(item)"
          >
          </span>
        </li>
        <li class="adjustments-line sidebar-mini">
          {{ $t("Sidebar Mini") }}
          <md-switch
            :value="!sidebarMini"
            @change="val => updateValue('sidebarMini', val)"
          ></md-switch>
        </li>
        <li class="adjustments-line sidebar-img">
          {{ $t("RTL") }}
          <md-switch
            :value="isRTL"
            @change="val => updateValue('isRTL', val)"
          ></md-switch>
        </li>
        <li class="adjustments-line sidebar-img">
          {{ $t("Sidebar Image") }}
          <md-switch
            :value="!sidebarImg"
            @change="val => updateValueImg('sidebarImg', val)"
          ></md-switch>
        </li>

        <li class="header-title">{{ $t("Images") }}</li>
        <li
          v-for="item in sidebarImages"
          :key="item.image"
          :class="{ active: item.active }"
          @click="changeSidebarImage(item)"
        >
          <a class="img-holder switch-trigger">
            <img :src="item.image" alt="" />
          </a>
        </li>

        <li class="button-container">
          <div class="">
            <md-button
              class="md-danger md-block"
              @click="onClearCache"
            >{{ $t('clear_cache') }}</md-button
            >
          </div>
        </li>

      </ul>
    </div>
  </div>
</template>
<script>
  import Vue from "vue";
  import SocialSharing from "vue-social-sharing";
  import VueGitHubButtons from "vue-github-buttons";
  import "vue-github-buttons/dist/vue-github-buttons.css";

  Vue.use(SocialSharing);
  Vue.use(VueGitHubButtons, { useCache: true });

  export default {
    props: {
      sidebarMini: Boolean,
      sidebarImg: Boolean,
      isRTL: Boolean
    },
    data() {
      return {
        documentationLink: process.env.MIX_URL,
        shareUrl: process.env.MIX_URL,
        buyUrl: process.env.MIX_URL,
        proUrl: process.env.MIX_URL,
        freeUrl: process.env.MIX_URL,
        isOpen: false,
        backgroundImage: `${process.env.MIX_IDRD_URL}/public/img/sidebar-2.jpg`,
        sidebarColors: [
          { color: "purple", active: true },
          { color: "azure", active: false },
          { color: "green", active: false },
          { color: "orange", active: false },
          { color: "rose", active: false },
          { color: "danger", active: false }
        ],
        sidebarBg: [
          { colorBg: "black", active: true },
          { colorBg: "white", active: false },
          { colorBg: "red", active: false }
        ],
        sidebarImages: [
          { image: `${process.env.MIX_IDRD_URL}/public/img/sidebar-1.jpg`, active: false },
          { image: `${process.env.MIX_IDRD_URL}/public/img/sidebar-2.jpg`, active: true },
          { image: `${process.env.MIX_IDRD_URL}/public/img/sidebar-3.jpg`, active: false },
          { image: `${process.env.MIX_IDRD_URL}/public/img/sidebar-4.jpg`, active: false }
        ]
      };
    },
    methods: {
      toggleDropDown() {
        this.isOpen = !this.isOpen;
      },
      closeDropDown() {
        this.isOpen = false;
      },
      toggleList(list, itemToActivate) {
        list.forEach(listItem => {
          listItem.active = false;
        });
        itemToActivate.active = true;
      },
      updateValue(name, val) {
        this.$emit(`update:${name}`, val);
      },
      updateValueImg(name, val) {
        this.$emit(`update:${name}`, val);

        if (this.sidebarImg) {
          document.body.classList.toggle("sidebar-image");
          this.$emit("update:image", "");
        } else {
          document.body.classList.toggle("sidebar-image");
          this.$emit("update:image", this.backgroundImage);
        }
      },
      changeSidebarBackground(item) {
        this.toggleList(this.sidebarColors, item);
        this.$emit("update:color", item.color);
      },
      changeSidebarBg(item) {
        this.toggleList(this.sidebarBg, item);
        this.$emit("update:colorBg", item.colorBg);
      },
      changeSidebarImage(item) {
        if (this.sidebarImg) {
          this.$emit("update:image", item.image);
        }
        this.backgroundImage = item.image;
        this.toggleList(this.sidebarImages, item);
        this.$emit("update:color", item.color);
      },
      onClearCache: function () {
        window.location.reload( true );
      }
    }
  };
</script>
<style>
  .centered-row {
    display: flex;
    height: 100%;
    align-items: center;
  }

  .button-container .btn {
    margin-right: 10px;
  }

  .centered-buttons {
    display: flex;
    justify-content: center;
  }
</style>
