<template>
  <div class="md-layout">
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>calendar_today</md-icon>
          </div>
          <p class="category">{{ $t('My Schedules') }}</p>
          <h3 class="title">
            <animated-number :value="total"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>arrow_forward</md-icon>
            <a href="javascript:;" @click.prevent="$router.push({ name: 'My Schedules'  })"> {{ $t('View') }} </a>
          </div>
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="rose">
        <template slot="header">
          <div class="card-icon">
            <md-icon>chrome_reader_mode</md-icon>
          </div>
          <p class="category">{{ $t('My Schedules Without Execution') }}</p>
          <h3 class="title">
            <animated-number :value="no_executed"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>arrow_forward</md-icon>
            <a href="javascript:;" @click.prevent="$router.push({ name: 'My Schedules Without Execution'  })"> {{ $t('View') }} </a>
          </div>
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>question_answer</md-icon>
          </div>
          <p class="category">{{ $t('My Schedules Without Agreements') }}</p>
          <h3 class="title">
            <animated-number :value="no_agreements"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>arrow_forward</md-icon>
            <a href="javascript:;" @click.prevent="$router.push({ name: 'My Schedules Without Agreements'  })"> {{ $t('View') }} </a>
          </div>
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="warning">
        <template slot="header">
          <div class="card-icon">
            <md-icon>note_add</md-icon>
          </div>
          <p class="category">{{ $t('My Schedules Canceled') }}</p>
          <h3 class="title">
            <animated-number :value="canceled"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>arrow_forward</md-icon>
            <a href="javascript:;" @click.prevent="$router.push({ name: 'My Schedules Canceled'  })"> {{ $t('View') }} </a>
          </div>
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="blue">
        <template slot="header">
          <div class="card-icon">
            <md-icon>assignment</md-icon>
          </div>
          <p class="category">{{ $t('Commitments') }}</p>
          <h3 class="title">
            <animated-number :value="commitments"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="green">
        <template slot="header">
          <div class="card-icon">
            <md-icon>assignment_turned_in</md-icon>
          </div>
          <p class="category">{{ $t('Solved') }}</p>
          <h3 class="title">
            <animated-number :value="solved"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="danger">
        <template slot="header">
          <div class="card-icon">
            <md-icon>assignment_late</md-icon>
          </div>
          <p class="category">{{ $t('No Solved') }}</p>
          <h3 class="title">
            <animated-number :value="no_solved"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>
    <div class="md-layout-item md-medium-size-50 md-xsmall-size-100 md-size-25">
      <stats-card header-color="rose">
        <template slot="header">
          <div class="card-icon">
            <md-icon>perm_media</md-icon>
          </div>
          <p class="category">{{ $t('Tracing') }}</p>
          <h3 class="title">
            <animated-number :value="tracing"></animated-number>
          </h3>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>update</md-icon>
            <a href="javascript:;" @click.prevent="refresh"> {{ $t('Reload') }} </a>
          </div>
        </template>
      </stats-card>
    </div>

    <div class="md-layout-item md-size-100">
      <md-card class="md-card-global-sales">
        <md-card-header class="md-card-header-icon md-card-header-green">
          <div class="card-icon">
            <md-icon>business</md-icon>
          </div>
          <h4 class="title">{{ $t('Parks Programmed This Month') }}</h4>
          <p class="category text-gray">{{ moment().locale( $i18n.locale ).startOf('month').format('ll') }} - {{ moment().locale( $i18n.locale ).endOf('month').format('ll') }}</p>
        </md-card-header>

        <md-card-content>
          <div class="md-layout">
            <div class="md-layout-item md-xsmall-size-100 md-small-size-100 md-size-100">
              <md-table v-model="parks" class="md-table-global-sales">
                <md-table-row slot="md-table-row" slot-scope="{ item }">
                  <md-table-cell>
                    <div class="flag">
                      <md-icon>business</md-icon>
                    </div>
                  </md-table-cell>
                  <md-table-cell>{{ `${ $t('park_code').capitalize() }: ${item.park_code}` }}</md-table-cell>
                  <md-table-cell>{{ `${ $t('park_name').capitalize() }: ${item.park_name}` }}</md-table-cell>
                  <md-table-cell>{{ `${ $t('upz').capitalize() }: ${item.upz_name}` }}</md-table-cell>
                  <md-table-cell> <animated-number :value="item.total_programmed"></animated-number> </md-table-cell>
                </md-table-row>
              </md-table>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>

    <div class="md-layout-item md-size-100 mx-auto">
      <md-card class="md-card-calendar">
        <md-card-content>
          <div id="fullCalendar"></div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</template>

<script>
import {Programming} from "../../models/services/Programming";
import {Api} from "../../models/Api"
import Swal from "sweetalert2";
import moment from "moment";
import $ from "jquery";
import "fullcalendar";
import "fullcalendar/dist/gcal";
import "fullcalendar/dist/locale/es"
import {
  StatsCard,
  ChartCard,
  AnimatedNumber
} from "@/components";
import {Parks} from "@/models/services/Parks";
import {Counter} from "@/models/services/Counter";

let today = new Date();
let y = today.getFullYear();
let m = today.getMonth();
let d = today.getDate();

export default {
  components: {
    StatsCard,
    ChartCard,
    AnimatedNumber,
  },
  data() {
    return {
      parks: [],
      moment: moment,
      total: 0,
      no_executed:0,
      no_agreements: 0,
      canceled: 0,
      commitments: 0,
      solved: 0,
      no_solved: 0,
      tracing: 0,
      calendar: null,
    };
  },
  methods: {
    initCalendar($) {
      let self = this;
      this.calendar = $("#fullCalendar");
      this.calendar.fullCalendar({
        locale: self.$i18n.locale,
        header: {
          left: "title",
          center: "month,agendaWeek,agendaDay,list",
          right: "prev,today,next"
        },
        nowIndicator: true,
        axisFormat: 'hh:mm a',
        timeFormat: 'hh:mm a',
        googleCalendarApiKey: process.env.MIX_GOOGLE_API_KEY,
        eventSources: [
          {
            url: `${Api.END_POINTS.PROGRAMMING() }/calendar`,
          },
          {
            url: `${Api.END_POINTS.CALENDAR_COMMIT() }`,
          },
          {
            googleCalendarId: 'es.co#holiday@group.v.calendar.google.com',
            className: 'event-default',
          }
        ],
        defaultView: 'month',
        defaultDate: today,
        selectable: true,
        selectHelper: true,
        views: {
          month: {
            // name of view
            titleFormat: "MMMM YYYY"
            // other view-specific options here
          },
          week: {
            titleFormat: " MMMM D YYYY"
          },
          day: {
            titleFormat: "D MMM, YYYY"
          }
        },
        eventClick: function (event, jsEvent, view) {
          if (event.url) {
            return false;
          }
          if ( event.commitment ) {
            self.$router.push( { name: 'Execution', params: { id: event.programming_id } } )
          } else {
            self.$router.push( { name: 'Details', params: { id: event.id } } )
          }
        },
        select: function(start, end, jsEvent, view) {
          let programming_date = start.format('YYYY-MM-DD');
          let human_date = start.format('LL');
          let hour = start.format('H');

          // start.isBefore( moment() ) ||
          if ( ( view.name === 'agendaWeek' && ( hour < 7 || hour > 12  ) ) ) {
            self.calendar.fullCalendar("unselect");
              return false;
          } else {

              // on select we show the Sweet Alert modal with an input
              Swal.fire({
                  title: self.$t('Create Programming'),
                  text: human_date,
                  showCancelButton: true,
                  confirmButtonText: self.$t('Create'),
                  confirmButtonClass: "md-button md-success",
                  cancelButtonText: self.$t('Cancel'),
                  cancelButtonClass: "md-button md-danger",
                  buttonsStyling: false
              }).then((result) => {
                  if (result.value) {
                      self.$router.push({ name: "Create Programming", params: { date: programming_date } })
                  }
                self.calendar.fullCalendar("unselect");
              });
          }
        },
        editable: false,
        eventLimit: true, // allow "more" link when too many events
        windowResize: function() {
          let ww = $(window).width();
          let view = (ww <= 768) ? 'list' : 'month';
          let currentView = $('#calendar').fullCalendar('getView');
          if(view !== currentView){
            self.calendar.fullCalendar('changeView',view);
          }
        }
        // color classes: [ event-blue | event-azure | event-green | event-orange | event-red ]
        // events: self.events
      });

      self.calendar.next(function (date) {
          console.log( date );
      });

    },
    getProgramming: _.debounce( function ( start, end ) {

        window.$ = window.jQuery = $;
        this.initCalendar($);
        let items = ['event-default', 'event-blue', 'event-azure', 'event-green', 'event-orange', 'event-red'];
        let item = items[Math.floor(Math.random()*items.length)];

        (new Programming()).calendar( { params: { start: start, end: end } } )
            .then( (response) => {
                this.events = response.data.map( (data) => {
                    return {
                        id: data.id,
                        title: data.activity_name,
                        start: new Date( `${data.execution_date} ${data.initial_time}` ),
                        end: new Date( `${data.execution_date} ${data.end_time}` ),
                        allDay: false,
                        className: item
                    }
                })
            })
            .then(() => {
                this.initCalendar($);
            })
          .catch((error) => {
            this.notifyOnError( error.message );
          })
    }, 300),
    getProgrammed: _.debounce(function () {
      (new Parks({})).programmed()
        .then((response) => {
          this.parks = response.data;
        })
        .catch((error) => {
          this.notifyOnError( error.message );
        })
    }, 300),
    getCounters: _.debounce(function () {
      this.total = 0;
      this.no_executed = 0;
      this.no_agreements = 0;
      this.canceled = 0;
      this.commitments = 0;
      this.solved = 0;
      this.no_solved = 0;
      this.tracing = 0;
      (new Counter()).index()
        .then((response) => {
          this.total = response.data.total;
          this.no_executed = response.data.no_execution;
          this.no_agreements = response.data.no_agreements;
          this.canceled = response.data.canceled;
          this.commitments = response.data.commitments;
          this.solved = response.data.solved;
          this.no_solved = response.data.no_solved;
          this.tracing = response.data.tracing;
        })
        .catch((error) => {
          this.notifyOnError( error.message );
        })
    }, 300),
    refresh: function () {
      this.getProgrammed();
      this.getCounters();
      if ( this.calendar ) {
        this.calendar.fullCalendar('refetchEvents');
      }
    }
  },
  mounted() {
    window.$ = window.jQuery = $;
    this.initCalendar( $ );
    this.refresh();
  },
  watch: {
    "$i18n.locale" : function () {
      $('#fullCalendar').fullCalendar('option', 'locale', this.$i18n.locale);
    }
  }
};
</script>

<style lang="scss" scoped>
  #fullCalendar {
    min-height: 300px;
  }

  .md-card-calendar {
    .md-card-content {
      padding: 0 !important;
    }
  }

  .text-center {
    text-align: center;
  }
</style>
