<template>
  <md-toolbar md-elevation="0" class="md-transparent" :class="{ 'md-toolbar-absolute md-white md-fixed-top': $route.meta.navbarAbsolute }">
    <div class="md-toolbar-row">
      <div class="md-toolbar-section-start">
        <h3 class="md-title">{{ $t($route.name) }}</h3>
      </div>
      <div class="md-toolbar-section-end">
        <md-button class="md-just-icon md-round md-simple md-toolbar-toggle" :class="{ toggled: $sidebar.showSidebar }" @click="toggleSidebar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </md-button>

        <div class="md-collapse">
          <md-list>
            <md-list-item href="#/">
              <i class="material-icons">dashboard</i>
              <p class="hidden-lg hidden-md">{{ $t('Dashboard') }}</p>
            </md-list-item>

            <li class="md-list-item">
              <a href="javascript:;" class="md-list-item-router md-list-item-container md-button-clean dropdown">
                <div class="md-list-item-content">
                  <drop-down direction="down">
                    <md-button slot="title" class="md-button md-just-icon md-simple" data-toggle="dropdown">
                      <md-icon>language</md-icon>
                      <p class="hidden-lg hidden-md">{{ $t('Lang') }}</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li>
                        <a href="javascript:;" @click="onLang('es')">ES</a>
                      </li>
                      <li>
                        <a href="javascript:;" @click="onLang('en')">EN</a>
                      </li>
                    </ul>
                  </drop-down>
                </div>
              </a>
            </li>

            <li class="md-list-item">
              <a href="javascript:;" class="md-list-item-router md-list-item-container md-button-clean dropdown">
                <div class="md-list-item-content">
                  <drop-down direction="down">
                    <md-button slot="title" class="md-button md-just-icon md-simple" data-toggle="dropdown">
                      <md-icon>person</md-icon>
                      <p class="hidden-lg hidden-md">{{ $t('Profile') }}</p>
                    </md-button>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="javascript:;" @click="onLogout">{{ $t('Logout') }}</a></li>
                    </ul>
                  </drop-down>
                </div>
              </a>
            </li>
          </md-list>
        </div>
      </div>
    </div>
  </md-toolbar>
</template>

<script>
  export default {
    created: function () {
      if ( this.$store.getters.getLang ) {
        this.$i18n.locale = this.$store.getters.getLang;
      }
    },
    methods: {
      toggleSidebar() {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar);
      },
      minimizeSidebar() {
        if (this.$sidebar) {
          this.$sidebar.toggleMinimize();
        }
      },
      onLogout: function() {
        this.$store.dispatch('logout')
                .then(() => {
                  window.isAuthenticated = false;
                  this.$router.push({ name: 'Login'});
                });
      },
      onLang: function (lang) {
        this.$store.dispatch('set_lang', lang)
                .then(() => {
                  this.$i18n.locale = lang;
                })
      }
    }
  };
</script>
