<template>
    <div class="md-layout text-center">
        <div class="md-layout-item md-size-50 md-small-size-100">
            <form>
                <lock-card>
                    <img class="img" slot="imageProfile" :src="image" />
                    <h4 slot="title" class="title">{{ name }}</h4>
                    <md-field slot="content" :class=" [{ 'md-error': errors.has( $t('password') ) || error } ]">
                        <label for="password">{{ $t('Enter Password') }}</label>
                        <md-input v-model="user.password" :data-vv-name="$t('password')" v-validate="'required'" name="password" id="password" type="password"></md-input>
                    </md-field>
                    <md-button native-type="submit" @click.native.prevent="onLogin" class="md-success md-round"  slot="footer">{{ $t('Unlock') }}</md-button>
                </lock-card>
            </form>
        </div>
    </div>
</template>
<script>
    import { LockCard } from "@/components";
    import {User} from "@/models/services/User";
    export default {
        name: "Lock",
        components: {
            LockCard
        },
        data() {
            return {
                name: null,
                error: null,
                user: new User({
                    username: null,
                    password: null
                }),
                image: `${process.env.MIX_IDRD_URL}/public/img/faces/user.png`
            };
        },
        created() {
            this.name = this.$store.getters.getUsername || this.$tc('Passport', 1);
            this.user.username = this.$store.getters.getAuth;
            if ( this.user.username === null ) {
                this.$router.push({name: 'Login'});
            }
        },
        methods: {
            onLogin: function () {
                this.$validator.validateAll().then(isValid => {
                    if ( isValid ) {
                        this.user.login()
                            .then(() => {
                                this.$store.dispatch('login')
                                    .then(() => {
                                        window.isAuthenticated = true;
                                        this.$router.push({ name: 'Dashboard' })
                                    })
                            })
                            .catch((error) => {
                                this.error = error.message;
                                this.$notify({
                                    message: error.message || this.unexpected,
                                    icon: "add_alert",
                                    horizontalAlign: 'top',
                                    verticalAlign: 'center',
                                    type: 'danger'
                                });
                            })
                    }
                })
            }
        }
    };
</script>
<style></style>
