<template>
    <div class="md-layout text-center">
        <div class="md-layout-item md-size-33 md-medium-size-50 md-small-size-70 md-xsmall-size-100">
            <login-card header-color="blue">
                <h4 slot="title" class="title">{{ $t('Log in') }}</h4>
                <md-field class="md-form-group"  :class=" [{ 'md-error': errors.has( $t('username') ) || error } ]"slot="inputs">
                    <md-icon>email</md-icon>
                    <label>{{ $t('username').capitalize() }}</label>
                    <md-input v-model="user.username" :data-vv-name="$t('username')" v-validate="'required'" name="username" id="username" type="email"></md-input>
                </md-field>
                <md-field class="md-form-group"  slot="inputs" :class=" [{ 'md-error': errors.has( $t('password') ) || error } ]">
                    <md-icon>lock_outline</md-icon>
                    <label for="password">{{ $t('Enter Password') }}</label>
                    <md-input v-model="user.password" :data-vv-name="$t('password')" v-validate="'required'" name="password" id="password" type="password"></md-input>
                </md-field>
                <template slot="footer">
                    <form :action="api" method="post" >
                        <input type="hidden" :value="token.content" name="_token">
                        <input type="hidden" :value="user.username" name="username">
                        <input type="hidden" :value="user.password" name="password">
                        <md-button native-type="submit" type="submit" class="md-rounded md-info md-lg" >
                            {{ $t('Log in') }}
                        </md-button>
                    </form>
                </template>
            </login-card>
        </div>
    </div>
</template>
<script>
    import {Api} from "@/models/Api";
    import { LoginCard } from "@/components";
    import {User} from "@/models/services/User";
    export default {
        components: {
            LoginCard
        },
        data() {
            return {
                token: document.head.querySelector('meta[name="csrf-token"]'),
                api: Api.END_POINTS.LOGIN(),
                error: null,
                user: new User({
                    username: null,
                    password: null
                }),
            };
        },
    };
</script>

<style></style>
