<template>
  <form @submit.prevent="validate">
    <md-card>
      <md-card-header class="md-card-header-text md-card-header-blue">
        <div class="card-text">
          <h4 class="title">{{ $t("Create Programming") }}</h4>
        </div>
      </md-card-header>

      <md-card-content>

        <div class="md-layout">

          <vue-element-loading :active="isLoading">
            <atom-spinner
              :size="100"
              color="#00bcd4"
            />
          </vue-element-loading>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>

            <v-dialog ref="dialog3"
                      v-model="menu"
                      :return-value.sync="programming.execution_date"
                      persistent
                      lazy
                      full-width
                      width="290px">
              <template v-slot:activator="{ on }">
                <md-field md-clearable :class="[ {'md-valid': !errors.has( $t('execution date') ) && programming.touched.execution_date}, {'md-error': errors.has( $t('execution date') ) || programming.errors.has('execution_date') }]">
                  <md-icon>event</md-icon>
                  <label for="execution_date">{{ $t('execution date').capitalize() }}</label>
                  <md-input :data-vv-name="$t('execution date')"
                            name="execution_date" readonly required
                            v-validate="programming.validations.date_format"
                            id="execution_date" v-model="programming.execution_date" v-on="on"
                            autocomplete="off">
                  </md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="errors.has( $t('execution date') ) || programming.errors.has('execution_date')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('execution date') ) && programming.touched.execution_date">done</md-icon>
                  </slide-y-down-transition>
                </md-field>
              </template>

              <v-date-picker color="blue lighten-1"
                             locale="es-es"
                             :min="moment().startOf('year').toISOString()"
                             ref="picker" header-color="blue" v-model="programming.execution_date" scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="menu = false">{{ $t('Cancel') }}</v-btn>
                <v-btn flat color="primary" @click="$refs.dialog3.save(programming.execution_date)">OK</v-btn>
              </v-date-picker>
            </v-dialog>

          </div>

          <div class="md-layout-item md-small-size-100 md-size-25">
            <h4 class="card-title"></h4>

            <v-dialog ref="dialog" v-model="modal1" :return-value.sync="programming.initial_time" persistent lazy full-width width="290px">
              <template v-slot:activator="{ on }">
                <md-field :class="[{'md-valid': !errors.has( $t('initial time') ) && programming.touched.initial_time}, {'md-error': errors.has( $t('initial time') ) || programming.errors.has('initial_time')}]">
                  <md-icon>access_time</md-icon>
                  <label for="initial_time">{{ $t('initial time').capitalize() }}</label>
                  <md-input  v-on="on" v-model="programming.initial_time" v-validate="programming.validations.hour_format" readonly="readonly" :data-vv-name="$t('initial time')" required type="text" id="initial_time" name="initial_time"></md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="(errors.has( $t('initial time') ) && programming.touched.initial_time) || programming.errors.has('initial_time')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('initial time') ) && programming.touched.initial_time">done</md-icon>
                  </slide-y-down-transition>
                </md-field>

              </template>
              <v-time-picker v-if="modal1" scrollable :max="programming.end_time" v-model="programming.initial_time" color="blue lighten-1" full-width>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="modal1 = false">{{ $t('Cancel') }}</v-btn>
                <v-btn flat color="blue" @click="$refs.dialog.save(programming.initial_time)">{{ $t('Ok') }}</v-btn>
              </v-time-picker>
            </v-dialog>


          </div>

          <div class="md-layout-item md-small-size-100 md-size-25">
            <h4 class="card-title"></h4>


            <v-dialog ref="dialog2" v-model="modal2" :return-value.sync="programming.end_time" persistent lazy full-width width="290px">
              <template v-slot:activator="{ on }">
                <md-field :class="[{'md-valid': !errors.has( $t('end time') ) && programming.touched.end_time}, {'md-error': errors.has( $t('end time') ) || programming.errors.has('end_time')}]">
                  <md-icon>access_time</md-icon>
                  <label for="end_time">{{ $t('end time').capitalize() }}</label>
                  <md-input v-on="on" v-model="programming.end_time" v-validate="programming.validations.hour_format_end" ref="end_time" readonly="readonly" :data-vv-name="$t('end time')" required type="text" id="end_time" name="end_time"></md-input>
                  <slide-y-down-transition>
                    <md-icon class="error" v-show="(errors.has( $t('end time') ) && programming.touched.end_time) || programming.errors.has('end_time')">close</md-icon>
                  </slide-y-down-transition>
                  <slide-y-down-transition>
                    <md-icon class="success" v-show="!errors.has( $t('end time') ) && programming.touched.end_time">done</md-icon>
                  </slide-y-down-transition>
                </md-field>

              </template>
              <v-time-picker v-if="modal2" scrollable :min="programming.initial_time" v-model="programming.end_time" color="blue lighten-1" full-width>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="modal2 = false">{{ $t('Cancel') }}</v-btn>
                <v-btn flat color="blue" @click="$refs.dialog2.save(programming.end_time)">{{ $t('Ok') }}</v-btn>
              </v-time-picker>
            </v-dialog>

          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('type of meeting') ) && programming.touched.type_of_meeting }, { 'md-error': errors.has( $t('type of meeting') ) || programming.errors.has('type_of_meeting') }]">
              <md-icon>group</md-icon>
              <label for="type_of_meeting">{{ $t('type of meeting').capitalize() }}</label>
              <md-select v-model="programming.type_of_meeting"
                         :disabled="disabled_type_of_meeting"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('type of meeting')"
                         @md-selected="onSelectReunion"
                         :required="!disabled_type_of_meeting" name="type_of_meeting" id="type_of_meeting">

                <md-option v-for="item in reunion_types" :key="item.id" :value="item.id">{{ item.reunion_type }}</md-option>

              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('attemption') ) && programming.touched.attemption }, { 'md-error': errors.has( $t('attemption') ) || programming.errors.has('attemption') }]">
              <md-icon>group</md-icon>
              <label for="attemption">{{ $t('attemption').capitalize() }}</label>
              <md-select v-model="programming.attemption"
                         :disabled="disabled_attemtions"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('attemption')"
                         @md-selected="onSelectAttemption"
                         :required="!disabled_attemtions" name="attemption" id="attemption">

                <md-option v-for="item in attemptions" :key="item.id" :value="item.id">{{ item.journey }}</md-option>

              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('process') ) && programming.touched.process }, { 'md-error': errors.has( $t('process') ) || programming.errors.has('process') }]">
              <md-icon>event_note</md-icon>
              <label for="process">{{ $t('process').capitalize() }}</label>
              <md-select v-model.number="programming.process"
                         :disabled="disabled_process"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('process')"
                         @md-selected="getActivities"
                         required name="process" id="process">
                <md-option v-for="item in process" :key="item.id" :value="item.id">{{ item.text }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('activity') ) && programming.touched.activity }, { 'md-error': errors.has( $t('activity') ) || programming.errors.has('activity')}]">
              <md-icon>chrome_reader_mode</md-icon>
              <label for="activity">{{ $t('activity').capitalize() }}</label>
              <md-select v-model.number="programming.activity"
                         :disabled="disabled_activities"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('activity')"
                         @md-selected="getSubActivities"
                         required name="activity" id="activity">
                <md-option v-for="item in activities" :key="item.id" :value="item.id">{{ item.text }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('subactivity') ) && programming.touched.subactivity }, { 'md-error': errors.has( $t('subactivity') ) || programming.errors.has('subactivity') }]">
              <md-icon>chrome_reader_mode</md-icon>
              <label for="subactivity">{{ $t('subactivity').capitalize() }}</label>
              <md-select v-model.number="programming.subactivity"
                         :disabled="disabled_subactivities"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('subactivity')"
                         :required="!disabled_subactivities" name="subactivity" id="subactivity">
                <md-option v-for="item in subactivities" :key="item.id" :value="item.id">{{ item.text }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-autocomplete v-model="selected_park" :data-vv-name="$t('park')"
                             md-input-name="park"
                             md-input-id="park"
                             md-input-max-length="100"
                             :md-open-on-focus="false"
                             type="text"
                             :class="[{'md-valid': !errors.has( $t('park') ) && programming.touched.park}, {'md-error': errors.has( $t('park') ) || programming.errors.has('park')}]"
                             required
                             v-validate="programming.validations.required"  :md-options="parks" @md-changed="getParks" @md-opened="getParks">

              <label>{{ $t('park').capitalize() }}</label>
              <span class="md-helper-text">{{ helper }}</span>

              <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.name }}</template>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('park') ) && programming.touched.park) || programming.errors.has('park')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('park') ) && programming.touched.park">done</md-icon>
              </slide-y-down-transition>
            </md-autocomplete>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('place') ) && programming.touched.place }, { 'md-error': errors.has( $t('place') ) || programming.errors.has('place')} ]">
              <md-icon>place</md-icon>
              <label for="first_name">{{ $t('place').capitalize() }}</label>
              <md-input
                  v-model="programming.place"
                  name="place" id="place"
                  :data-vv-name="$t('place')"
                  type="text" maxlength="100"
                  autocomplete="off"
                  required v-validate="programming.validations.required">
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('place') ) && programming.touched.place) || programming.errors.has('place')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('place') ) && programming.touched.place">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field :class="[ { 'md-valid': !errors.has( $t('upz') ) && programming.touched.upz }, { 'md-error': errors.has( $t('upz') ) || programming.errors.has('upz')} ]">
              <md-icon>place</md-icon>
              <label for="upz">{{ $t('upz').capitalize() }}</label>
              <md-input v-model="programming.upz" name="upz" id="upz" :data-vv-name="$t('upz')" type="text" maxlength="100" autocomplete="off" readonly>
              </md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('upz') ) && programming.touched.upz) || programming.errors.has('upz')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('upz') ) && programming.touched.upz">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('who calls') ) && programming.touched.who_calls }, { 'md-error': errors.has( $t('who calls') ) || programming.errors.has('who_calls')}]">
              <md-icon>domain</md-icon>
              <label for="who_calls">{{ $t('who calls').capitalize() }}</label>
              <md-select v-model.number="programming.who_calls"
                         :disabled="disabled_who_calls"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('who calls')"
                         @md-selected="onSelectWhoCalls"
                         required name="who_calls" id="who_calls">
                <md-option v-for="item in who_calls" :key="item.id" :value="item.id">{{ item.text }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field :class="[{'md-valid': !errors.has( $t('Which?') ) && programming.touched.who_calls_text}, {'md-error': errors.has( $t('Which?') ) || programming.errors.has('who_calls_text')}]">
              <md-icon>location_city</md-icon>
              <label for="who_calls_text">{{ $t('Which?').capitalize() }}</label>
              <md-input v-model="programming.who_calls_text" v-validate="{ required: !disabled_who_calls_text }" :disabled="disabled_who_calls_text" :data-vv-name="$t('Which?')" :required="!disabled_who_calls_text" type="text" id="who_calls_text" name="who_calls_text"></md-input>
              <slide-y-down-transition>
                <md-icon class="error" v-show="(errors.has( $t('Which?') ) && programming.touched.who_calls_text) || programming.errors.has('who_calls_text')">close</md-icon>
              </slide-y-down-transition>
              <slide-y-down-transition>
                <md-icon class="success" v-show="!errors.has( $t('Which?') ) && programming.touched.who_calls_text">done</md-icon>
              </slide-y-down-transition>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-50">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[{ 'md-valid': !errors.has( $t('request') ) && programming.touched.request }, { 'md-error': errors.has( $t('request') ) || programming.errors.has('request')}]">
              <md-icon>sms</md-icon>
              <label for="request">{{ $t('request').capitalize() }}</label>
              <md-select v-model.number="programming.request"
                         :disabled="disabled_request"
                         v-validate="programming.validations.required"
                         :data-vv-name="$t('request')"
                         required name="request" id="request">
                <md-option v-for="item in requests" :key="item.id" :value="item.id">{{ item.text }}</md-option>
              </md-select>
            </md-field>
          </div>

          <div class="md-layout-item md-small-size-100 md-size-100">
            <h4 class="card-title"></h4>
            <md-field md-clearable :class="[ { 'md-valid': !errors.has( $t('objective') ) && programming.touched.objective }, { 'md-error': errors.has( $t('objective') ) || programming.errors.has('objective') } ]">
              <label for="objective">{{ $t('objective').capitalize() }}</label>
              <md-textarea
                  v-model="programming.objective"
                  name="objective" id="objective"
                  :data-vv-name="$t('objective')"
                  v-validate="programming.validations.required"
                  type="text"
                  required
                  maxlength="2500"
                  autocomplete="off">
              </md-textarea>
            </md-field>
          </div>

        </div>

      </md-card-content>

      <md-card-actions class="text-center">
        <md-button native-type="submit" type="submit" :disabled="isLoading" @click.native.prevent="validate" class="md-info">{{ $t("Create Programming") }}</md-button>
      </md-card-actions>
    </md-card>
  </form>
</template>

<script>
import VueElementLoading from 'vue-element-loading'
import { AtomSpinner } from 'epic-spinners'
import {Modal} from "@/components";
import moment from "moment"
import { SlideYDownTransition } from "vue2-transitions";
import {Parks} from "@/models/services/Parks";
import {Programming} from "@/models/services/Programming";
import {ReunionType} from "@/models/services/ReunionType";
import {WhoCalls} from "@/models/services/WhoCalls";
import {Request} from "@/models/services/Request";
import {Process} from "@/models/services/Process";
import {Activity} from "@/models/services/Activity";
import {SubActivity} from "@/models/services/SubActivity";
import {Attenption} from "@/models/services/Attenption";

export default {
  name: "ProgrammingForm",
  components: {
    SlideYDownTransition,
    Modal,
    VueElementLoading,
    AtomSpinner
  },
  data: () => {
    return {
      moment: moment,
      menu: false,
      programming: new Programming(),
      attemptions: [],
      disabled_attemtions: true,
      selected_park: null,
      parks: [],
      helper: null,
      reunion_type_selected: null,
      reunion_types: [],
      disabled_type_of_meeting: true,
      who_calls: [],
      disabled_who_calls: true,
      disabled_who_calls_text: true,
      requests: [],
      disabled_request: true,
      process: [],
      disabled_process: true,
      activities: [],
      disabled_activities: true,
      subactivities: [],
      disabled_subactivities: true,
      modal1: false,
      modal2: false
    };
  },
  created: function () {
      if ( this.$route.params.date ) {
          this.programming.execution_date = this.$route.params.date;
      }
      this.getAttemption();
      this.axiosInterceptor();
      this.getReunionTypes();
      this.getRequest();
      this.getWhoClass();
      this.getProcess();
      this.helper = this.$t('find by code, name or address park').capitalize();
  },
  methods: {
    validate() {
      this.$validator.validateAll().then(isValid => {
        this.$emit("on-submit", this.programming, isValid);
        if ( isValid ) {
          this.selected_park = '';
        }
      });
    },
    getParks: _.debounce(function (searchTerm) {
        this.parks = new Promise(resolve => {
            if (!searchTerm || typeof searchTerm === "object") {
                resolve(this.parks)
            } else {
                this.helper = `${this.$t('Searching')}...`;
                const term = searchTerm.toLowerCase();
                ( new Parks( {} )).finder( term )
                    .then((response)  => {
                         resolve(response.data);
                        this.helper = this.$t('find by code, name or address park').capitalize();
                    })
                    .catch((error) => {
                        this.helper = this.$t('find by code, name or address park').capitalize();
                        this.notifyOnError( error.message );
                    })
            }
        });
    }, 700),
    getReunionTypes: function () {
        this.disabled_type_of_meeting = true;
        (new ReunionType()).index()
            .then((response) => {
                this.reunion_types = response.data;
                this.disabled_type_of_meeting = false;
            })
            .catch((error) => {
                this.notifyOnError( error.message );
            });
    },
    onSelectReunion: function (data) {
      if ( data ) {
        this.disabled_attemtions = true;
        this.programming.touched.attemption = false;
        this.programming.attemption = null;
      }

      if ( !data ) {
        this.disabled_attemtions = false;
        this.programming.touched.attemption = false;
        this.programming.attemption = null;
      }
    },
    onSelectAttemption: function (data) {
        if ( data ) {
            this.disabled_type_of_meeting = true;
            this.programming.type_of_meeting = null;
            this.programming.touched.type_of_meeting = false;

            let array = this.attemptions;

            const reunion = array.filter( r => r.id === data );

            if ( reunion[0] ) {
                this.programming.initial_time = moment( `2000-01-01T${reunion[0].start_hour}` ).format('HH:mm');
                this.programming.end_time = moment( `2000-01-01T${reunion[0].end_hour}` ).format('HH:mm');
            }

        }

        if ( !data ) {
            this.programming.touched.type_of_meeting = false;
            this.disabled_type_of_meeting = false;
            this.programming.type_of_meeting = null;
            this.programming.initial_time = null;
            this.programming.end_time= null;
        }
    },
    getAttemption: function () {
      this.disabled_attemtions = true;
      (new Attenption()).index()
        .then((response) => {
          this.attemptions = response.data;
          this.disabled_attemtions = false;
        })
        .catch((error) => {
          this.notifyOnError( error.message )
        });
    },
    getWhoClass: function () {
        this.disabled_who_calls = true;
        (new WhoCalls({})).index()
            .then( (response) => {
                this.who_calls = response.data.map( who => {
                    return {
                        id: who.id,
                        text: who.name,
                        has_input: who.has_input
                    }
                });
                this.disabled_who_calls = false;
            })
            .catch( (error) => {
                this.notifyOnError( error.message );
            })
    },
    onSelectWhoCalls: function (data) {
        if ( data ) {
            const who = this.who_calls.filter( w => w.id === data );
            if ( who[0] ) {
                this.disabled_who_calls_text = !who[0].has_input;
                if ( !who[0].has_input ) {
                  this.programming.who_calls_text = null;
                }
            }
        }
    },
    getRequest: function () {
        this.disabled_request = true;
        (new Request({})).index()
            .then((response) => {
                this.disabled_request = false;
                this.requests = response.data.map( request => {
                    return {
                        id: request.id,
                        text: request.name
                    }
                })
            })
            .catch((error) => {
                this.notifyOnError( error.message );
            })
    },
    getProcess: function () {
        this.disabled_process = true;
        (new Process({})).index()
            .then((response) => {
                this.process = response.data.map( process => {
                    return {
                        id: process.id,
                        text: process.name
                    }
                });
                this.disabled_process = false;
            })
            .catch((error) => {
                this.notifyOnError( error.message );
            })
    },
    getActivities: function (id) {
      if (id) {
        this.disabled_activities = true;
        (new Activity({})).show(id)
                .then((response) => {
                  this.activities = response.data.map( (activity)  => {
                    return {
                      id: activity.id,
                      text: activity.name
                    }
                  });

                  this.disabled_activities = false;
                })
                .catch( (error) => {
                  this.notifyOnError( error.message )
                })
      }
    },
    getSubActivities: function (id) {
      if (id) {
        this.disabled_subactivities = true;
        (new SubActivity({})).show( id )
                .then( (response) => {
                  this.subactivities = response.data.map((sub) => {
                    return {
                      id: sub.id,
                      text: sub.name
                    }
                  });
                  this.disabled_subactivities = !( this.subactivities.length > 0 );
                })
                .catch((error) => {
                  this.notifyOnError( error.message )
                })
      }
    },
    disabledDates: (date) => {
      return moment(date) < moment().subtract(1, 'day')
    }
  },
  watch: {
    selected_park: function (park) {
        if ( park && typeof park === 'object' ) {
            this.programming.park = park.id;
            this.selected_park = park.name;
            this.programming.upz = park.upz_name;
        }

        if ( !park ) {
            this.programming.park = null;
            this.programming.upz = null;
        }
    },
    'programming.execution_date' : function () {
      this.programming.touched.execution_date = true;
    },
    'programming.attemption' : function () {
      this.programming.touched.attemption = true;
    },
    'programming.initial_time' : function () {
      this.programming.touched.initial_time = true;
    },
    'programming.end_time' : function () {
      this.programming.touched.end_time = true;
    },
    'programming.park' : function () {
      this.programming.touched.park = true;
    },
    'programming.place' : function () {
      this.programming.touched.place = true;
    },
    'programming.upz' : function () {
      this.programming.touched.upz = true;
    },
    'programming.objective' : function () {
      this.programming.touched.objective = true;
    },
    'programming.type_of_meeting' : function () {
      this.programming.touched.type_of_meeting = true;
    },
    'programming.who_calls' : function () {
      this.programming.touched.who_calls = true;
    },
    'programming.who_calls_text' : function () {
      this.programming.touched.who_calls_text = true;
    },
    'programming.request' : function () {
      this.programming.touched.request = true;
    },
    'programming.process' : function () {
      this.programming.touched.process = true;
    },
    'programming.activity' : function () {
      this.programming.touched.activity = true;
    },
    'programming.subactivity' : function () {
      this.programming.touched.subactivity = true;
    },
  }
};
</script>

<style lang="scss" scoped>

.md-card .md-card-actions {
  border: none;
}

.text-center {
  justify-content: center !important;
}
</style>
