<template>
  <div class="md-layout text-center">
    <div class="md-layout-item md-size-50 md-small-size-100">
      <lock-card>
        <img class="img" slot="imageProfile" :src="image" />
        <h4 slot="title" class="title">{{ code }}</h4>
        <h4 slot="title" class="title">{{ error }}</h4>

        <md-button href class="md-success md-round" @click="goBack" slot="footer">{{ $t('Go Back') }}</md-button>
      </lock-card>
    </div>
  </div>
</template>
<script>
  import { LockCard } from "@/components";
  export default {
    components: {
      LockCard
    },
    created: function () {
      if ( this.$route.params.code ) {
        this.code = this.$route.params.code;
      }
      if ( this.$route.params.text ) {
        this.error = this.$route.params.text;
      }
    },
    data() {
      return {
        code: 404,
        error: 'Not found',
        image: `${process.env.MIX_IDRD_URL}/public/img/cancel.png`
      };
    },
    mounted: function () {
      this.$notify({
        message: this.error || this.unexpected,
        icon: "add_alert",
        horizontalAlign: 'top',
        verticalAlign: 'center',
        type: 'danger'
      });
    },
    methods: {
      goBack() {
        if ( this.code === 401 ) {
          window.location.reload();
        } else {
          this.$router.push({ name: 'Dashboard' })
        }
      }
    }
  };
</script>
<style></style>
